.difo-owlcard-specials,
#difo-default-coupon-wrap {
  .coupon-coupon {
    .difo-parts-button {
      display: none;
    }
    &.parts-specials,
    &.parts {
      .difo-parts,
      .difo-custom,
      .difo-parts-button {
        display: block;
      }
      .difo-schedule-service,
      .difo-service-button {
        display: none;
      }
    }
  }
}
