@import "variables.scss";

$fj-drive: true !default;
$vdp-lease-finance: false !default;

@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/fletcherjones-v2/_fj-vdp-variables';
@import '../../../shared/styles/radioactive';
@import "../../../../../../themes/DealerInspireCommonTheme/css/mixins";
@import "../../../../../../themes/DealerInspireCommonTheme/css/buttons-basic";


// *************************************************************************************************
//  INSIDE PAGES
// *************************************************************************************************

@import '../../../../../../themes/DealerInspireCommonTheme/css/components/sidebars/sidebar-basicboxy';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/specials/specials-coupons';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/staff/staff-boxes';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/inside-pages/contactpage-simple3column';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/modelpages/modelpage-withtopgallery';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/modelpages/modelpage-featurehub';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/modelpages/modelarchive-simplegrid';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/content/simple-blogarchive';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/shortcodes/incentives-listview-2014';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/reviews';

//@import "../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/fletcherjones-v2/_fj-service-page";
//@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/fletcherjones-v2/_fj-inside-pages';
@import "../../../shared/styles/common/fletcherjones-v2/_fj-service-page";
@import '../../../shared/styles/common/fletcherjones-v2/_fj-inside-pages';
@include breakpoint (md) {
  body.page-template-sitemap-php {
    .container.contentcontainer {
      padding-top: 120px;
    }
  }
}

#di-page-composer{
  .body-header, .desktop-margin{
    margin-top: 0;
  }
  &.contentcontainer {
    @media screen and (max-width: 767px){
      padding-top: 0;
    }
  }
}
