#ask-form {
  width: 450px;
  padding: 10px 20px;
  position: fixed;
  top: 10px;
  right: -450px;
  z-index: 99;
  background: white;
  border: 1px solid black;
  transition: right 0.35s ease;
  z-index: 99999;
  @media (max-width: 767px) {
    width: 270px;
    right: -270px;
  }
  &.active {
    right: 0;
    .ask-question-btn {
      right: 390px;
      @media (max-width: 767px) {
        right: 210px;
      }
    }
  }
  .ask-question-btn {
    &:hover {
      background: darken(orange, 2.5%);
    }

    text-transform: uppercase;
    color: white;
    transition:
      right 0.35s ease,
      background 0.35s ease;
    position: fixed;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 300px;
    right: -60px;
    background: orange;
    width: 160px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    @media screen and (max-width: 767px) {
      top: 245px;
    }
  }
}
