.button-radioactive {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    background: red;
    border-radius: 5px;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset !important;
    -webkit-animation-name: greenPulse;
    animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .button-radioactive:hover {
    background: #ff2929;
  }
  
  @-webkit-keyframes greenPulse {
    from {
      background-color: red;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    50% {
      background-color: #ff2929;
      -webkit-box-shadow: 0 0 50px #ff2929;
    }
    to {
      background-color: red;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }