// *************************************************************************************************
//	VARIABLES
// *************************************************************************************************

@import "variables";

$fj-drive: true !default;
$vdp-lease-finance: false !default;

// *************************************************************************************************
//	GENERAL
// *************************************************************************************************

@import "../../../../../../themes/DealerInspireCommonTheme/css/mixins";
@import "../../../../../../themes/DealerInspireCommonTheme/css/buttons-basic";
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/common-elements';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/form/base';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/social/links-iconfont';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/vehicle-results-page/_save-vehicles.scss';

@media (min-width:1025px) {
	.container-wide.contentcontainer {
		padding-top: 30px;
	}
}

p {
	font-weight: 300;
}

a[href^=tel]{
	color:inherit;
}

.hidden {
    display:none;
}

// *************************************************************************************************
//	HEADER
// *************************************************************************************************
@import '../../../shared/styles/common/fletcherjones-v2/fj-search-overlay';

//@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/fletcherjones-v2/_fj-header';

#google_translate_element {
	position: absolute;
	right: 15px;
	top: 110px;
	@media (max-width: 1024px) {
		top: 50px;
		right: 0;
		z-index: 999;
	}
  @media screen and (max-width:767px){
    top: 85px;
  }
}
@media(min-width: 1025px) {
	.home #google_translate_element {
		top: 150px;
	}
}

#openhoursbar {
	top: 50px;
}

body .fixed-top-spacer {
	height: 110px;

	@media screen and (max-width: 1024px) {
		height: 75px;
	}

	@media screen and (max-width: 767px) {
		height: 78px;
	}
}

body:not(.home) .hidden-xs.hidden-sm .fixed-top-spacer {
	//display: none;
}


//==================================
// HEADER ADJUSTMENTS DESKTOP 07/20
//==================================
#header.menu-top .header-top {
    a.hours-icon i {
        color: #111;
    }
    .search-anything-toggle form {
        background: #fff url('../images/searchicon-black.png') no-repeat right 10px center;
        border: none !important;
        border-bottom: 1px solid #111 !important;
    }
}
@media screen and (max-width: 1024px) {
    .tt-dropdown-menu {
        margin-top: 0px !important;
    }
}
@include breakpoint(sm) {
	#header.menu-top .header-top .search-anything-toggle .tt-dropdown-menu {
	    padding: 0 0 160px !important;
	}
	.header-bottom.corona {
	    height: auto !important;
	    line-height: inherit !important;
		padding: 15px 10px;
	}
}
//=========================================
// HEADER ADJUSTMENTS DESKTOP 07/20 - END
//=========================================

//==================================
// HEADER ADJUSTMENTS DESKTOP 03/25
//==================================

#header .header-bottom {
    .dealer-hours-container {
        @media screen and (max-width: 1100px) {
            padding-left: 41px;
        }
    }
    .dealer-phone {
        overflow: visible;
        white-space: nowrap;
    }

}
//=========================================
// HEADER ADJUSTMENTS DESKTOP 03/25 - END
//=========================================


// *************************************************************************************************
//	NAVIGATION
// *************************************************************************************************

@import '../../../../../../themes/DealerInspireCommonTheme/css/components/navigation/basic-navigation';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/navigation/offcanvasnav';

@import '../../../shared/styles/common/fletcherjones-v2/_fj-navigation';

// *************************************************************************************************
//	FOOTER
// *************************************************************************************************

@import '../../../../../../themes/DealerInspireCommonTheme/css/components/footers/footer-basic';
// @import '../../../../../../themes/DealerInspireCommonTheme/css/components/footers/prefooter-widelists';
// @import '../../../../../../themes/DealerInspireCommonTheme/css/components/footers/fat-footer';

@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/fletcherjones-v2/_fj-footer';

.footerTop {
    background: #1b1b1b;
    &__Menu {
        padding: 0;
        color: #fff;
        border-top: 1px solid #1c1c1c;
        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            li {
                list-style: none;
                a {
                    color: #fff;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        li.menu-item {
            width: inherit;
            list-style-type: none;
            min-height: auto;
            border-bottom: 1px solid #444;
            a {
                display: block;
                margin: 0;
                padding: 25px;
                font-size: 17px;
                &:after {
                    content: '\f054';
                    font-family: 'FontAwesome';
                    float: right;
                    color: #706f6c;
                    @include transition(all .5s ease);
                }
            }
        }
    }
}



//========================================
// FOOTER ROW STYLES DESKTOP 06/20
//========================================
.footerRow {
	z-index: 1;
	background: #fff;

	.footerBottom {
		background: #fff;
		color: #333;
		text-align: center;
		padding: 40px 0 80px;

        .social {
            padding: 10px 0 30px;
        }

		.infoWrapper {
			&__menu {
				ul {
					margin: 0;
					padding: 0;

					li {
						display: inline-block;

						+ li:before {
							content: '\|';
						}

						a {
							color: $primary;
							margin: 0 5px;
						}
					}
				}
			}

			&__di {
				a {
					color: $primary;
					text-decoration: underline;
				}
			}

			div + div {
				margin: 15px 0 0;
			}
		}

        .email-button {
            float: none;
            margin: 20px 0 0 !important;
            @include breakpoint(xs) {
                font-size: 12px !important;
            }
        }
	}

	// ********** Media Queries ********** //

	// Tablet +
	@include breakpoint(sm) {

		.footerBottom {
			padding: 80px 0;
			a.link__logo img {
			    max-width: 315px;
			    width: 100%;
			}
		}
	}
}
#footer {
    background: #fff;
}



// ************************************************************************************************
//  HOMEPAGE STYLES
// ************************************************************************************************


//=================================================
//		HOMEPAGE ADJUSTMENTS DESKTOP-06/20
//=================================================
.heroRow__container {
    max-width: 1200px !important;
	.personalizer-wrap {
	    float: right !important;
	}
}
p.smaller {
    font-size: 23px;
    color: #3f3f3f;
    margin: 15px 0px 10px 0px;
    font-weight: 500;
}
p.below-cta {
    font-size: 23px;
    color: white;
    margin: 5px 0px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
//=================================================
//		HOMEPAGE ADJUSTMENTS DESKTOP-06/20 - END
//=================================================



// ************************************************************************************************
//  DEALER INSPIRE & THIRD PARTY PLUGINS
// ************************************************************************************************

@import '../../../../../../themes/DealerInspireCommonTheme/css/components/lease-calculator/lease-calculator-styled';

.lo_container {
	.lo_head {
		background-image: url('../images/bg-leaseoffer-header-fletcher.jpg');
		background-size: cover;
	}
}

@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/fletcherjones-v2/_fj-plugins';

@import '../../../../../../themes/DealerInspireCommonTheme/css/components/algolia-search/default-algolia';
@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-inspire-plugins/national-offers-mercedes-benz';

/********************************************************************************
    FJ DRIVE STYLES
********************************************************************************/

@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/fletcherjones-v2/_fj-drive';

/*************************************************************************************************
	TABLET ELEMENT STYLING
*************************************************************************************************/

@media (max-width: 1024px) {
	@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/fletcherjones-v2/_fj-touch-header';
  	@import '../../../shared/styles/mobile/mobile-menu';

	#mobile-menu {
		background: #fff;
	}
	.menu-top {
		.logo {
			padding: 5px;
			img {
				max-height: 40px;
			}
		}
	}
}

/*************************************************************************************************
	MOBILE ELEMENT STYLING
*************************************************************************************************/

@media (max-width:767px){
	@import '../../../../../../themes/DealerInspireCommonTheme/css/components/homepage/mobile/openhours-bar';
	@import '../../../../../../themes/DealerInspireCommonTheme/css/components/mobile/mobile-tabs';
	@import '../../../shared/styles/mobile/mobile';


	.home .mobile-cta {
	    margin-top: 65px;
	}

}

@media screen and (max-width:400px){
	.menu-top .logo img {
	    max-height: 35px;
	}
	.home .mobile-cta {
	    margin-top: 115px;
	}
}
@media (max-width: 1024px){
	.contentcontainer {
		margin-top: 10px !important;
	}
}

/*************************************************************************************************
	SUPPORT
*************************************************************************************************/

@import "support-requests";
@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/fletcherjones-v2/_fj-support';

// *****************************************
//  VRP STYLES
// *****************************************

@mixin save-vehicle-styles($top:5px, $left:10px, $zIndex:11, $fontSize: 30px, $color: $maintextcolor) {
  color:$color;
  font-size:$fontSize;
  position:absolute;
  top:$top;
  left: $left;
  text-shadow: 1px 1px 1px #fff,
  -1px 1px 1px #fff,
  1px -1px 1px #fff,
  -1px -1px 1px #fff;
  z-index: $zIndex;
}

#results-page .vehicle {
  .vehicle-image {
    .save-things-save {
      @include save-vehicle-styles();
      span {
        display:none;
      }
    }
  }
  // CASE #36423 - NOW PRICE STYLING //
  .vehicle-price .price-block.withsavings .price {
  	color: #16900a;
  }
  .button-bar .primary-cta a {
      background-color: #ed8b00 !important;
  }
}

// *****************************************
//  VDP STYLES
// *****************************************

#detailspage {
  .maincardetails .mainvehicleheaderbox .cta-box .button.vdp-primary {
    background: #ed8b00 !important;
    border: 2px solid #ed8b00 !important;
  }
  #gallery-carousel {
    .save-things-save {
      @include save-vehicle-styles($left:5px);
      i {
        font-size:40px;
        margin:0;
      }
    }
  }
}

.location-popover-wrap .dealer-name {
  display:block;
  width:100%;
}

@media (max-width: 1024px) and (min-width: 768px) {
	.sub-header-info {
    .dealer-address,
    .dealer-phone {
  		font-size: 13px;
    }
  }
	.contentcontainer {
		margin-top: 120px;
	}
	.social a {
	  height: 25px;
	  width: 25px;
		i {
			height: 23px;
			width: 23px;
			line-height: 23px;
			font-size: 16px;
		}
	}
}

// *****************************************
//  TABLET STYLES
// *****************************************

@media (max-width: 1024px) {
	#header #header-top .logo {
		img {
			max-height: 40px;
		}
	}
	.contentcontainer {
	  margin-top: 170px;
	  margin-bottom: 100px;
	}
	#detailspage .maincardetails {
		padding: 160px 0 50px;
	}
	#videobanner .modfull {
	  min-height: 600px;
	}
	#searchtoggle {
		top: 140px;
	}
	#searchbox {
		top: 130px;
	}
}

// *****************************************
//  MOBILE STYLES
// *****************************************

@import '../../../shared/styles/shared-support';
@import 'conversations';




@media(min-width:1024px){
	.home{
		#videobanner {
			max-height: initial;
		}
		#footer{
			position: relative;
		}
	}
}

@media (max-width: 767px) {
	.page-vehicle-display-page .vdp-top-banner.box-gallery .box-gallery-wrap {
    padding-top: 0 !important;
	}
}

@media (max-width: 1024px) {
	#vrp-custom-filter {
    margin: 0;
	}
}

//=====================================
// ADDED STYLE BELOW FOR DESKTOP 07/20
//=====================================
@media (max-width: 1024px) {
    #search-overlay .overlay-container {
        margin: 50px 0 0 !important;
        position: relative;
        left: 0;
        .home &{
          margin: 75px 0 0 !important;
        }
        .close-overlay {
            display: block !important;
        }
        .overlay-content{
        //  padding:
        }
        .search-section {
          margin: 50px;
        }
    }
}
//==============================================
// ADDED STYLE BELOW FOR DESKTOP 06/20 - END
//==============================================

#header .dealer-hours{
  .hours-service{
    .open{
      display: none;
    }
  }
}


@media (max-width: 767px){
	div.details-page-row:nth-child(2) {
	  display: block !important;
	}
  }
  
img#vessel-header-img {
    height: 100%;
}

.page-id-42278 #lvrp-results-wrapper .result-wrap .hit-price__customize {
	display: none;
}

.dynamic-hours .open {
    display: none;
}


// 1125266 Start
#lvrp-results-wrapper div.hit-price__customize {
	display: none;
}
// 1125266 End


#eqe-suv-show{
  display: none !important;
}

#eqe-suv-hidden{
  display: inline-block !important;
  visibility: visible !important;
}