
// Styles for video button on VDP
.shopping-box .more-action ul ul li.icons-box.st-vid {
  background-color: #0059a8;
  a {
    background-position:center -80px;
  }
  &:hover {
    background-color: #eee;
    a {
      background-position: center top;
    }
  }
}
#videobanner #videooverlay .videooverlay-content .service-button .outline-button{
  background-color: #ed8b00;
}
#videobanner #videooverlay .videooverlay-content .service-button .outline-button:hover{
      background-color: transparent;
}

img.kbb-logo {
  height: 40px;
  margin-bottom: 10px;
}

#locationsRow {
  padding: 50px 0px;
  background: #eeeeee;
  border-top: 1px solid #666666;
  .location-row {
    background: #fff;
    margin: -100px auto 0 auto;
    display: block;
    text-align: center;
    padding: 20px 10px;
    position: relative;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
    h2 {
      font-weight: 700;
    }
    .location-wrap {
      min-height: 280px;
      .location-overlay {
        position: absolute;
        background: #eeeeee;
        text-align: left;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 10px;
        opacity: 0;
        @include transition(all .5s ease);
        h3 {
          margin-bottom: 0px;
        }
        ul {
          margin-top: 10px;
        }
      }
      &:hover {
        .location-overlay {
          opacity: 1;
        }
      }
    }
  }
}

#locationsRow .location-row {
    height: 100px;
}

@media (min-width: 768px)and (max-width: 1023px){
#videobanner #videooverlay .videooverlay-content h2 {
    font-size: 41px;
}
}

.header-dropdown .header-dropdown-container {
  .menu-image-navigation {
      float: left;
      width: 70%;
      text-align: left;
      margin-top: 0px;
      position: absolute;
      bottom: 10px;
      right: 0;
      text-align: center;
  }
  .menu-image-sidebar {
      padding: 15px 0 0 0;
      float: right;
      width: 70%;
      min-height: 300px;
      position: absolute;
      top: 0;
      right: 0;
      a {
        text-align: center !important;
      }
      img {
        max-width: 90%;
    }
  }
}
.navbar .navbar-inner ul.nav li a, .navbar .navbar-inner ul.nav li a.dropdown-menu {
  display: inline-block;
}

//78528 - MOving CTAs from nav menu to front page and adding mobile padding.
@media (max-width: 767px){
  .videooverlay-content .custom-button img.loading {
    padding-bottom: 5px;
  }
}

@media (min-width: 767px){
  .custom-cta-buttons {
    margin-right: 10px;
  }
}

#videobanner{
  position: relative;
}

.popup-btn-memorial{
  position: absolute;
  top: 153px;
  left: 0;
  cursor: pointer;
  z-index: 10;
  padding: 0;
  border: none;
}

@media(max-width: 1024px){
  .popup-btn-memorial{
    top: 0px;
  }
}

//82226 Moving MB logo into header, moving phone numbers
#header {
  .mb-homepage-logo{
      width: 250px;
  }
  .dealer-phone {
      float: right;
  }
  .dealer-hours-group {
      padding-top: 21px;
  }
}
@media(min-width: 1260px){
  .col-sm-4.right-edge {
      padding-left: 5%;
  }
}
#sliderRow {
    background: #f5f5f5;
    overflow: visible;
    position: relative;
    margin-top: -150px !important;
}
#videobanner #videorow {
    min-height: 0px;
    top: -100px;
    overflow: hidden;
}


//86749 - Custom border around Shopping Tools

.shopping-tool:first-child {
    border-left: 1px solid #e1e1e1;
}

.shopping-tool {
    border-right: 1px solid #e1e1e1;
}


@media (min-width: 768px) {
  #videoOverlay .videooverlay-content .cta-buttons .button {
    width: 22% !important;
  }
}


//Override font size for Payment Calculator button
.lo_container .lo_lock_button {
  font-size: 1.2em !important;
}
.showme{
display: none;

}

.showme a {
color: black;
text-decoration: none;
padding-left: 100px;
display: block;
position: relative;
top: 30px;
}
.showhim:hover .showme {
    display: block;
    position: absolute;
    font-size: 23px;
    margin-top: -20px;
    margin-left: -14px;
    z-index: 997;
    padding-top: 70px;
    padding-left: -50px;
    line-height: 30px;
    width: 100%;
    min-height: 400px;
   background-image: linear-gradient(transparent 100px, white 80px);


}
//REF #38277 Line up buttons
#results-page .vehicle .vehicle-price .price-leaseandfinance .leaseoffer {
  padding: 13px 10px 14px!important;
  }
//END #38277


//**START 00037978**//

.showme a{
   width: 38%;
   height: 150px;
   margin-left: 7%;
   padding-left: 0;
   float: left;
  img{
    left: 0px !important;
    width: 100% !important;
    max-width: 100% !important;
    opacity: 1 !important;
  }
}
.showhim:hover .showme{
  min-height: 250px;
}
//**END 00037978**//

// Styled lease button
#details-page-ctabox {
    .maincta-row,
    #ctabox-pricing-bottom {
        padding-bottom: 0;
    }
    .lease-box {
        margin-bottom: 10px;
        .shopping-icon {
            display:none;
        }
        .shopping-label .button {
            margin: 0;
            color: #fff;
            background: #0059a8;
            border: none;
            width: 100% !important;
            &:hover {
                background: #003e75;
            }
        }
    }
}


//52250 - Overriding bold styles in Prem Options on VDP
#vehicleDetails {
    .premium-options-list {
        h3 {
            font-weight: 300 !important;
        }
        p {
            font-weight: 500 !important;
        }
    }
}
// #60105 Custom VRP CTA
#results-page .vehicle {
  .button-bar-item.approveBtn a {
    background: #0059a8 !important;
    color: #ffffff !important;
    padding: 13px 20px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 1;
  }
  .vehicle-price .price-block {
    text-align: left;
    @media (max-width: 768px) {
      display: block;
    }
    .price-label {
      text-align: left !important;
    }
  }
}
// End #60105

//62845
.page-vehicle-results-page {
    a.button.inquire {
        width: 100% !important;
    }
    .hide-the-main-cta a.fancy.button-form.button.cta-button {
        display: none;
    }
}
.page-vehicle-display-page {
    .hide-the-main-cta .maincta-row.ctabox-row {
        display: none;
    }
    div#inquire-button a {
        width: 100% !important;
        margin-top: -10px;
        display: none;
    }
}
//end 62845


// 00066052 - Customizing service menu
.service-menu-right {
  display: block;
  float: right;
  margin-top: -244px;
  margin-right: 15%;
}
.header-dropdown .header-dropdown-container {
  .menu-image-sidebar img {
    max-width: 100%;
  }
  .menu-image-sidebar {
    width: 44%;
  }
  .menu-navigation {
    width: 56%;
  }
}
//end 00066052

@media (max-width: 767px) {
    #videoOverlay {
        margin-top: 30px;
        margin-bottom: 120px;
        .videooverlay-content .cta-buttons {
            margin-top: 20px;
            h1 {
                font-size: 22px;
            }
        }
    }
}

// Hiding custom ctas while jquery is running #00060105
#vehicleDetails {
  #ctabox-custom-ctas {
    display: none;
  }
}
// End #00060105
#results-page .vehicle .vehicle-price a.button.lease-for-less {
  background: $primary;
  &:hover {
    background: darken($primary, 5%);
  }
}

.header-dropdown.dropdown-full .header-dropdown-container {
  min-height: 200px;
}

.fj-drive.vdp {
  display: none !important;
}

//Make dem arrows bouncy
.difo-wrapper .owlcard-wrap-inner .owl-buttons .owl-prev {
  background: url(/wp-content/plugins/vessel/content/shared/images/arrows/arrow-blue-left.png) no-repeat center center !important;
  left: -50px !important;
  animation: shake 3s infinite;
  @media (max-width: 767px) {
    left: -28px !important;
  }
}

.difo-wrapper .owlcard-wrap-inner .owl-buttons .owl-next {
  right: -50px !important;
  @media (max-width: 767px) {
    right: -20px !important;
  }
}

.difo-wrapper .owlcard-wrap-inner .owl-buttons .owl-prev, .difo-wrapper .owlcard-wrap-inner .owl-buttons .owl-next {
  width: 65px !important;
}

.difo-wrapper .owlcard-wrap-inner .owl-buttons .owl-next {
  background: url(/wp-content/plugins/vessel/content/shared/images/arrows/arrow-blue-right.png) no-repeat center center !important;
  animation: shake 3s infinite;
}
//whoops
#header-ask-a-question
{
    .header-btn
    {
        font-size: 11.5px;
        line-height: 2;

        position: fixed;
        top: 50%;
        right: -60px;

        float: right;

        width: 140px !important;
        height: 40px;
        padding-top: 8px;

        transform: rotate(270deg);

        color: white;
        background: darkorange;
        @media screen and (max-width:1330px)
        {
            font-size: 10px;

            width: 150px !important;
            margin-left: 20%;
        }
        @media screen and (max-width:900px)
        {
            display: none;
        }
    }
}

.vdp-print-view .logo {
    background-color: #fff;
    text-align: center;
}

#results-page .vehicle .button-bar .primary-cta .lease-for-less {
  background: orange;
}


.mb-homepage-logo * {
  display: inline-block;
}
#videoOverlay .videooverlay-content .cta-buttons .button {
  background: #000;
  padding: 23px 0;
  border: 1px solid #fff;
}
// *************************************************************************************************
//  VEHICLE RESULTS PAGE
// *************************************************************************************************
#results-page .vehicle .vehicle-badges .button-bar-item.icon.play-button {
    max-width:100%;
    width:100%;
}
#results-page{
  .vehicle{
    .vehicle-price, .button-bar{
      .button.orange-button{
        background: $orange;
        &:hover {
          background: darken($orange, 5%);
        }
      }
    }
  }
}

// *************************************************************************************************
//  VEHICLE DETAILS PAGE
// *************************************************************************************************

// Styled lease button
#details-page-ctabox {
  .maincta-row,
  #ctabox-pricing-bottom {
      padding-bottom: 0;
  }
  .shopping-tool{
    .shopping-icon {
      display:none;
    }
    &.orange-button{
      .shopping-label a{
        background: $orange;
        color: #fff;
        width: 100% !important;
        &:hover{
          background: darken($orange,5%);
        }
      }
    }
  }
  /*
  .lease-box {
    margin-bottom: 10px;
    .shopping-icon {
      display:none;
    }
    .shopping-label .button {
      margin: 0;
      color: #fff;
      background: #0059a8;
      border: none;
      width: 100% !important;
      &:hover {
        background: #003e75;
      }
    }
  }
  */
}


//52250 - Overriding bold styles in Prem Options on VDP
#vehicleDetails {
  .premium-options-list {
    h3 {
      font-weight: 300 !important;
    }
    p {
      font-weight: 500 !important;
    }
  }
}

#results-page .unlock-offer {
  background: #d01e1c;
  text-align: center;
  padding: 10px;
  clear: both;
  a {
      color: #fff !important;
      text-decoration: none;
  }
}
#vehicleDetails .unlock-offer {
  display: block;
  width: 100% !important;
  background: #d01e1c;
}

.menu-top .mobile-header-top .logo #vessel-header-img {
    max-height: 60px !important;
    margin-top: -5%;
}
#main-navbar ul.nav>li>a{
  font-size: .8vw !important;
}
#header.menu-top .header-top .logo #vessel-header-img{
  max-height: 70px !important;
}

.dealer-info {
  .phone-mobile-sales,
  .phone-mobile-service {
    overflow: hidden;

    .line {
      position: relative;
      left: -3.7em;

    }
    @media(min-width: 768px) {
      display: none;
    }
  }
}
