// *************************************************************************************************
//	VARIABLES
// *************************************************************************************************

@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/toyota/toyotaexample2/variables-2.scss';
@import 'variables';

$glovebox-container-top-pad-desktop: 50px;
// $glovebox-container-top-pad-mobile: 50px;
// $glovebox-v-container-padding: 12px;
// $glovebox-v-border-radius: 8px;
// $glovebox-v-title-size: 2.4rem;
// $glovebox-v-price-size: 2.2rem;
// $glovebox-v-title-color: $primary;
// $glovebox-v-date-color: #777777;
// $glovebox-v-price-color: $secondary;
// $glovebox-v-loading-color: $primary;
// $glovebox-v-loading-size: 50px;
// $glovebox-v-container-bg: #f8f8f8;
// $glovebox-v-action-font-size: 1.4rem;
// $glovebox-v-action-default-color: $primary;
// $glovebox-v-action-remove-color: #337AB7;
// $glovebox-v-action-save-color: #D9534F;
// $glovebox-v-action-compare-color: #5CB85C;
// $glovebox-v-action-cta-color: #ffffff;
// $glovebox-v-action-cta-background: $primary;
// $glovebox-v-container-height: auto;
// $glovebox-v-container-small-height: auto;
// $glovebox-sidebar-btn-primary-color: $primary;
// $glovebox-sidebar-btn-secondary-color: $secondary;
// $glovebox-modal-form-button: $primary;
// $glovebox-viewport-button: true;
// $glovebox-viewport-button-color: $primary;
// $glovebox-viewport-button-box-shadow: 0 -3px 0 0 darken($glovebox-viewport-button-color, 5%);
// $glovebox-viewport-button-text-color: #fff;

// *************************************************************************************************
//	GENERAL
// *************************************************************************************************

@import "../../../../../../themes/DealerInspireCommonTheme/css/mixins";
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/reviews';
@import "../../../../../../themes/DealerInspireCommonTheme/css/buttons-basic";
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/common-elements';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/form/base';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/social/links-iconfont';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/vehicle-results-page/_save-vehicles.scss';

@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/toyota/toyota-general-styles.scss';

.fixed-top-spacer {
	height: 85px;
	@include breakpoint(sm) {
		height: 100px;
	}
	@include breakpoint(md) {
		height: 100px;
	}
}

.integration-top-spacer {
	margin-top: 0 !important;
}

// *************************************************************************************************
//	HEADER
// *************************************************************************************************

@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/toyota/toyotaexample2/header.scss';
@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/toyota/toyota-search.scss';

#header {
	.header-top {
		&__wrapper {
			.top_dealer-phone.dealer-info.hidden-xs.hidden-sm {
				order: 1;
			}
			.dealer-hours {
				text-align: center;
				margin: 0 12px 0 0;
				.sales-hours, .service-hours, .hours-sales, .hours-service{
					&:hover{
						cursor: pointer;
					}
				}
				a {
					color: #fff;
					&:hover {
						text-decoration: none;
					}
				}
				.fa-clock-o{
					display: none;
				}
			}
			.dealer-hours-container{
				order: 2;
				position: relative;
				margin: 0 20px 0 10px;
				.hours-dropdown{
					display: none;
				}
				&:hover{
					cursor: pointer;
				}
				&.open{
					.hours-dropdown{
						display: flex;
						background: #eee;
						position: absolute;
						z-index: 9999;
						top: 29px;
						right: 0;
					}
					&:after{
						content: "\f077";
					}
				}
				&:after{
					content: "\f078";
					font: normal normal normal 9px/1 FontAwesome;
						position: absolute;
						right: 0px;
						top: 11px;
						color: $primary;
				}
				#saleshours, #servicehours{
					width: 245px;
						padding: 0 5px;
					.widget-subtitle-icon{
						display: none;
					}
					.widget-subtitle{
						font-weight: bold;
					}
					ul.hours{
							list-style: none;
						padding-inline-start: 0px;
						li{
							line-height: 24px;
								width: 100%;
								display: flex;
								justify-content: space-between;
						}
						.disclaimer, br{
							display: none;
						}
						.day{
							margin-right: 10px;
							text-transform: capitalize;
						}
					}
				}
				.dynamic-hours{
					.open{
						display: none;
					}
				}
			}
			.top__dealer-address.dealer-info {
				order: 3;
			}
		}
	}

	.header-bottom .bottom__logo {
		.oem-logo {
			padding: 0;
			margin: 0;
			&:after {
				content: none;
			}
		}
		.logo__dealer--image img {
			max-height: 35px;
		}
		.logo__dealer--imageMobile img {
			max-height: 25px;
		}
		#vessel-header-img {
			padding: 0 10px;
			order: 3;
		}
	}
	// media queries
	@include breakpoint(md) {
		.header-top {
			.dealer-info,
			.dealer-hours {
				font-size: 12px;
			}
		} 
	}
	@include breakpoint(lg) {
		.header-top {
			.dealer-info,
			.dealer-hours {
				font-size: 13px;
			}
		} 
	}

	.header-mobile__name {
		display: none !important;
	}
}

#LetzChatSelectionList{
	display: none !important;
}

#header{
	.header__language-toggle{
		margin: 0px 10px;
		display: inline-block;
		height: 50px;
		.goog-te-gadget-simple{
			border: none;
			background: transparent;
			span{
				height: 50px;
			}
		}
		#google_translate_element{
			height: 50px;
		}
		.button{
			padding: 4px 10px 5px;
			line-height: 18px;
			margin: 0;
			background: $green;
			&:hover{
				background: darken($green,10%);
			}
		}
	}
	.navbar-inner{
		@include flexbox;
	}
	.nav_section{
		display: inline-block;
	}
}


// *************************************************************************************************
//	NAVIGATION
// *************************************************************************************************

@import '../../../../../../themes/DealerInspireCommonTheme/css/components/navigation/basic-navigation';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/navigation/offcanvasnav';
@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/toyota/toyota-menu.scss';

.navbar {
	@include breakpoint(md) {
		.navbar-inner {
			ul.nav {
				>li.megamenu {
					>ul.sub-menu {
						min-height: 200px;
						max-height: calc(100vh - #{$header-height-desktop} - 50px);
						overflow-y: auto;
					}
				}
			}
		}
	}
}

#header .header-bottom .bottom__navigation.navbar .navbar-inner ul.nav>li.menu-item-has-children{
	&:hover{
		a:after{
			transform: none;
		}
	}
	&.open{
		a:after{
			-ms-transform: rotate(-180deg);
			-webkit-transform: rotate(-180deg);
			transform: rotate(-180deg);
		}
	}
	.caret{
		display: none;
	}
}

.navbar .navbar-inner ul.nav li a{
	@media screen and (max-width: 1399px){
		padding: 0 5px;
	}
	@media screen and (max-width: 1199px){
		padding: 0 5px;
		font-size: 13px;
		&:after{
			display: none !important;
		}
	}
}

// *************************************************************************************************
//	FOOTER
// *************************************************************************************************

@import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-groups/toyota/toyotaexample1/footer.scss';

.footerWrapper .footerBottom .socialWrapper {
	.logo--wrapper {
		padding-right: 10px;
		margin: 0;
		&:after {
			content: none;
		}
	}
	.logo__dealer--image img {
		max-height: 35px;
	}
}

// *************************************************************************************************
//	PRINT PAGE
// *************************************************************************************************

@import '../../../../../../themes/DealerInspireCommonTheme/css/components/vehicle-detail-page/_vehicle-print-view.scss';

// ************************************************************************************************
//  DEALER INSPIRE & THIRD PARTY PLUGINS
// ************************************************************************************************

// @import '../../../../../../themes/DealerInspireCommonTheme/css/components/lease-calculator/lease-calculator-styled';
// @import '../../../../../../themes/DealerInspireCommonTheme/css/dealer-inspire-plugins/_national-offers.scss';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/algolia-search/default-algolia';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/glovebox/_glovebox-main.scss';

/*************************************************************************************************
	TABLET ELEMENT STYLING
*************************************************************************************************/

@media (max-width: 1024px) {
}

/*************************************************************************************************
	MOBILE ELEMENT STYLING
*************************************************************************************************/

@media (max-width:767px){
	@import '../../../../../../themes/DealerInspireCommonTheme/css/components/homepage/mobile/openhours-bar';
	@import '../../../../../../themes/DealerInspireCommonTheme/css/components/homepage/mobile/special-link';
	@import '../../../../../../themes/DealerInspireCommonTheme/css/components/homepage/mobile/new-vehicle-models';
	@import '../../../../../../themes/DealerInspireCommonTheme/css/components/homepage/mobile/weather';
	@import '../../../../../../themes/DealerInspireCommonTheme/css/components/mobile/mobile-tabs';
	@import '../../../../../../themes/DealerInspireCommonTheme/css/components/search/advancedsearch-overlaybox-wide';
	
	#mobile-advanced-search {
		.top {
			display: none;
		}
		select {
			height: 45px;
			border-bottom: 2px solid $primary;
			padding: 10px;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 15px;
			}
		}
		button.advanced-search-btn {
			height: 45px;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			border-radius: 50px;
		}
	}
}

/*************************************************************************************************
	THIRD PARTY STYLING/REQUESTS
*************************************************************************************************/

// 02078724 - Hide OEM Logo
#header .header-bottom .bottom__logo {
	.oem-logo {
		img {
			display: none;
		}
	}
	.cstm-oem-logo {
		order: 1;
		margin-right: 10px;
	}
	.logo__dealer--image {
		order: 2;
	}
	@media only screen and (max-width: 1024px) {
		.logo__dealer--imageMobile {
			order: 2;
		}
		.cstm-oem-logo {
			margin-left: 10px;
		}
	}
}
// end 02078724