.lightning-vehicle-results-page {
  #lvrp-container {
    #lvrp-filters-column {
      #facets-menu {
        #react-facets {
          .facet.type-facet,
          .facet.slider-facet {
            display: none;
          }
        }
      }
    }
    #lvrp-results-column {
      #lvrp-results-container {
        #key-features {
          display: none;
        }
        .lvrp-container {
          .lvrp-results-column {
            #lvrp-results-wrapper {
             #hits {
              .result-wrap {
                .hit {
                  .hit-content {
                    .hit-content-title-wrap {
                      .result-title {
                        .title-top {
                          display: none;
                        }
                      }
                      .result-features-container {
                        display: none;
                      }
                    }
                  }
                }
              }
             } 
            }
          }
        }
      }
    }
  } 
}