@keyframes text-grow {
    0% {
        font-size:18px;
    }
    50% {
        font-size:20px;
    }
}
@-webkit-keyframes text-grow {
    0% {
        font-size:18px;
    }
    50% {
        font-size:20px;
    }
}
@-moz-keyframes text-grow {
    0% {
        font-size:18px;
    }
    50% {
        font-size:20px;
    }
}

.gallery-wrap {
	background: #fff;
}

#vehicleDetails {
  .swiper-container-vertical {
  	padding: 49px 0;
  	.swiper-button-prev, .swiper-button-next {
  		width: 100%;
  		border: 1px solid #e1e1e1;
  		background: #fff;
  		left: 0;
  		margin: 0;
  		opacity: 1;
  		text-align: center;
  		height: 40px;
  		svg {
  			fill: #111;
  			width: 40px;
  			height: 40px;
  		}
  		&.swiper-button-disabled {
  			opacity: 1 !important;
  			svg {
  				opacity: 0.3;
  			}
  		}
  	}
  	.swiper-button-prev {
  		top: 0;
  	}
  	.swiper-button-next {
  		bottom: 0;
  	}
  	&:hover {
  		.swiper-button-next, .swiper-button-prev {
  			background: #fff;
  			opacity: 1;
  			&:hover {
  				background-color: #111;
  				svg {
  					fill: #fff;
  				}
  			}
  		}
  	}
  }
}

#vehicleDetails .vdp-top-banner.box-gallery {
    .details-page-ctawrap {
        #details-page-ctabox {
            background:transparent;
            border:0px;
            margin-top:10px;
        	padding: 0px;
        	//top: 75px;
        	@media (max-width:1024px) {
	        	//top: 0px;
        	}
        	.ctabox-inner {
            	background:#fff;
            	border: 1px solid #e1e1e1;
            	padding:15px;
            	> div:last-child {
                	border-bottom:0px;
            	}
        	}
        }
        &.affix{
            position: fixed;
        }
    }
}

#vehicleDetails {
  #breadcrumbs{
    display: none;
  }
	.vdp-top-banner.box-gallery .details-page-ctawrap {
    .button, .holiday-btn-section{
      margin: 0 0 10px 0 !important;
    }
    .ctabox-row{
      border-top: none;
    }
    .maincta-row{
      padding: 0;
    }
		#ctabox-custom-ctas {
			@media (max-width:1024px) {
				padding: 0 200px;
			}
			@media (max-width:768px) {
				padding: 0 75px;
			}
			@media (max-width:767px) {
				padding: 0 15px;
			}
      > div, > a{
        margin-bottom: 10px;
      }
		    .button {
			    &.primary-button {
				    color: #fff;
				//    font-size: 12px;
				  //  padding: 15px 5px;
				  //  text-transform: none;
			    }
		    }
		    div > div > div:last-child .button.primary-button {
			    @media (min-width:1025px) {
    		    	border-left: 1px solid #fff;
    		    }
    		    @media (max-width:1024px) {
	    		    margin-top: 1px;
    		    }
		    }
		}
		#ctabox-premium-features {
    		background:#fff;
			border: 1px solid #e1e1e1;
			padding: 10px;
			width: 100%;
			@media (max-width:1024px) {
				padding: 10px 200px;
			}
			@media (max-width:768px) {
				padding: 10px 75px;
			}
			@media (max-width:767px) {
				padding: 10px 15px;
			}
			.features-link {
				color: $primary;
			}
		}
	}
	.vdp-shopping-tools {
		.shopping-tools-wrapper{
			@include flexbox;
			border-top: 1px solid #565656;
			border-bottom: 1px solid #565656;
			padding: 30px 0;
		}
		.shopping-tool {
			border-right: 1px solid #e1e1e1;
			&:first-child {
				border-left: 1px solid #e1e1e1;
			}
			.shopping-label {
				font-weight: 400;
				a {
					color: #111;
				}
			}
		}
	}
	.vdp-basic-info .basic-info-wrapper {
		dl {
			padding: 0 0 5px;
		}
		.righthalf {
			padding-left: 0;
		}
	}
	.vdp-basic-info, .vdp-shopping-tools, .vdp-vehicle-description, .vdp-vehicle-features,
	.vdp-related-vehicles, .vdp-info-accordion {
		// border-top: 1px solid #e1e1e1;
		.vdp-sectiontitle {
			h2 {
				font-size: 18px;
				text-transform: uppercase;
				margin-top: 0;
				margin-bottom: 20px;
			}
		}
	}
	.vdp-vehicle-features, .vdp-related-vehicles {
		.vdp-sectiontitle {
			border-top: 1px solid #e1e1e1;
			padding-top: 20px;
		}
	}
	.vdp-vehicle-features {
		.vehicle-feature-wrap {
			padding: 0 30px 5px 0;
			width: 50%;
			float: left;
			.vehicle-feature-icon {
				display: none;
			}
		}
	}
	#info-accordion {
		border-top: 1px solid #e1e1e1;
		.panel-title {
			border-bottom: 1px solid #e1e1e1;
		}
		.panel-body {
			border-bottom: 1px solid #e1e1e1;
		}
		.list-group-item {
			border: none;
		}
	}
	@media (min-width:1299px) {
		.vdp-basic-info {
			.basic-info-wrapper {
				width: 75%;
				float: right;
				margin-top: -38px;
				dt {
					font-weight: 400;
				}
				dd {
					font-weight: 700;
					float: none;
				}
			}
		}
		.vdp-vehicle-features {
			.vehicle-features-overview {
				width: 75%;
				float: right;
				margin-top: -38px;
			}
		}
	}
	#info-accordion .panel-heading h4.panel-title a:after {
		font-size: 14px;
	}
}

@media (max-width:767px) {
    .page-vehicle-display-page .vdp-top-banner {
        &.box-gallery {
            .box-gallery-wrap {
                padding-top: 40px !important;
            }
        }
    }
    #vehicleDetails.project-hotwheels {
        margin-top:10px;
        .vdp-top-banner.box-gallery .details-page-ctawrap #details-page-ctabox .ctabox-inner{
        	border: none;
        }
    }
    .vdp-shopping-tools .shopping-tool .shopping-icon svg {
        height:40px;
        @include transition(none);
        width:40px;
    }
    .maincta-row .button {
        animation: text-grow 2s infinite;
        font-size:18px;
        left: 0px;
        line-height:18px;
        padding:10px 5px;
        position: fixed;
        top: 55px;
        z-index: 2;
    }
}

@media (max-width: 767px) {
	#vehicleDetails {
		.vdp-vehicle-features {
			.vehicle-feature-wrap {
				padding: 0 0 5px;
				width: 100%;
				float: none;
			}
		}
		.maincta-row .button {
			top: 50px;
		}
	}
}

/*************************************************************************************************
	NEW FEATURE - PREMIUM OPTIONS
*************************************************************************************************/

#ctabox-premium-features {
	max-height: 45px;
	overflow-y: hidden;
	@include transition(all .5s ease);
	.features-link {
		.open-toggle {
			display: block;
		}
		.close-toggle {
			display: none;
		}
	}
	&.open {
		max-height: 240px;
		overflow-y: auto !important;
		.features-link {
			.open-toggle {
				display: none;
			}
			.close-toggle {
				display: block;
			}
		}
	}
	.premium-options-list {
		margin-top: 20px;
		.list-group-item {
			padding: 10px 15px;
			margin: 10px 0;
			color: #333;
			background: #f7f7f7;
			border-radius: 0 !important;
			h3 {
				margin-top: 0;
				font-size: 15px;
			}
			p {
				margin: 0;
        font-weight: 500 !important;
			}
		}
	}
}

.page-vehicle-display-page #whitewrap{
  position: relative;
}
