$primary: #0059a8;

//FJ CUSTOM VARIABLES FOR VDP
$details-page-row-padding-top: 20px;
$details-page-row-padding-bottom: 20px;

$vdp-top-banner-bg: #fff;
$vdp-top-banner-bg-sm: #fff;
$vdp-top-banner-bg-xs: #fff;

$vdp-top-banner-title-color: #111;
$vdp-top-banner-title-font-weight: 300;
$vdp-breadcrumbs-color: #111;
$vdp-breadcrumbs-link-color: #111;

//GALLERY
$details-page-condensed-gallery-container-padding: 0px;
$details-page-condensed-gallery-thumbs-padding: 0 0 0 15px;

//CTA BOX VDP
$vdp-ctabox-bg: #fff;
$vdp-ctabox-color: #111;
$vdp-ctabox-border: 1px solid #e1e1e1;
$vdp-ctabox-row-border-top: 1px solid #e1e1e1;
$vdp-ctabox-offset-top-fixed: 40px;

//RELATED VEHICLES
$vdp-related-row-bg: #fff;
$vdp-related-row-title-color: #111;
$vdp-related-vehicle-border: 1px solid #e1e1e1;

//VEHICLE DETAILS
$vdp-info-accordion-panel-title-expand-icon: '\f067';
$vdp-info-accordion-panel-title-collapse-icon: '\f068';
$vdp-info-accordion-panel-title-bg: #fff;
$vdp-info-accordion-active-panel-title-bg: #fff;
$vdp-info-accordion-svg-color: #111;
$vdp-info-accordion-active-panel-title-color: $primary;
$vdp-info-accordion-svg-active: $primary;
$vdp-info-accordion-panel-body-bg: #fff;

$vdp-top-banner-padding: 0px 0 50px;
$vdp-ctabox-offset-top-start: 130px;
