.staff-container.grid ul.staff li {
  width: 150px;
  img.staffpic {
    margin: 0 auto;
  }
}

.diso-toggle {
  clear: both;
  padding: 50px 0;
  text-align: center;
  width: 100%;
  .diso-expand {
    cursor: pointer;
    margin: 0 auto;
  }
}
.diso-expandable {
  display: none;
}

//***START #44064

#videobanner #videooverlay .videooverlay-content .service-button .button {
  background-color: #0059a8;
}

#videobanner #videooverlay .videooverlay-content .service-button .button:hover {
  background-color: #003e75;
}

//***END #44064

#side-toolbar {
  display: none !important;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #videobanner #videooverlay .videooverlay-content h2 {
    font-size: 41px;
  }
}

// Styling to parts specials page #75410
#parts-specials-page {
  .specialCoupon .specialLeft,
  .specialCoupon .special-left {
    position: relative;
    width: 100%;
    min-height: 50px;
    text-align: center;
    img {
      width: auto;
      max-height: 240px;
    }
  }
}
// End #75410

.col-sm-4.text-center.custom-holiday-styles a {
  color: white !important;
}

.specialCoupon .specialRight .modelName {
  color: #0059a8 !important;
  font-size: 21px !important;
}

.specialCoupon .specialRight .description p {
  font-size: 14px !important;
}

a.view-disclaimer-link {
  color: #a7a7a7 !important;
  font-size: 11px !important;
  font-style: italic !important;
}

//62845
.page-vehicle-results-page {
  a.button.inquire {
    width: 100% !important;
  }
  .hide-the-main-cta a.fancy.button-form.button.cta-button {
    display: none;
  }
}
.page-vehicle-display-page {
  .hide-the-main-cta .maincta-row.ctabox-row {
    display: none;
  }
  div#inquire-button a {
    width: 100% !important;
    margin-top: -10px;
    display: none;
  }
}
//end 62845
@media (max-width: 767px) {
  #videobanner {
    background-position: 50% 50%;
  }
}

// 00066052 - Customizing service menu
.service-menu-right {
  display: block;
  float: right;
  margin-top: -194px;
  margin-right: 15%;
}
.header-dropdown .header-dropdown-container {
  .menu-image-sidebar img {
    max-width: 100%;
  }
  .menu-image-sidebar {
    width: 44%;
  }
  .menu-navigation {
    width: 56%;
  }
}
//end 00066052

#header.menu-top .header-top a.holiday-hours-btn {
  font-size: 12px;
}
//REF #75582 Add custom button class styles
.button-radioactive {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  background: red;
  border-radius: 5px;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset !important;
  -webkit-animation-name: greenPulse;
  animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.button-radioactive:hover {
  background: #ff2929;
}

@-webkit-keyframes greenPulse {
  from {
    background-color: red;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  50% {
    background-color: #ff2929;
    -webkit-box-shadow: 0 0 50px #ff2929;
  }
  to {
    background-color: red;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}
//end #75582

div#videobanner {
  background: white;
}
.koral {
  color: red;
}

// #00068477 - New Menu Model Carousel

/*
#menu_modelRow {
  display: none;
  position: relative;
  background-color: #eeeeee;

  &.open {
    display: block;
    -webkit-transition: ease all .5s;
    -moz-transition: ease all .5s;
    -o-transition: ease all .5s;
    transition: ease all .5s;
  }

  .model_nav {
    background-color: #0059a8;
    height: 35px;

    ul.nav-tabs {
      height: 35px;
      border-bottom: 0;
      line-height: 35px;

      li {
        button {
          font-weight: 600;
          font-size: 12px;
          color: #5a87b7;
          height: 35px;
          line-height: 35px;
          border: none;
          background: transparent;
          text-transform: uppercase;
          outline: 0 !important;
          padding: 0 15px;

          &:hover {
            color: #fff;
            border: none;
          }
        }

        &.active button {
          color: #fff;
          background: transparent;
          border: none;
        }
      }
    }
  }

  #sedanModels,
  #coupeModels,
  #suvModels,
  #convertModels,
  #hybridModels {
    width: 100%;
    padding: 15px 30px 0;
    position: relative;
    z-index: 10;

    .label-wrap {
      margin-top: 35px;
      padding-top: 10px;
    }

    .model-name {
      text-align: center;
      font-weight: 600;
    }
  }

  .owl-controls {
    .owl-prev {
      position: absolute;
      left: -20px;
      top: 38%;
      width: 50px;
      height: 54px;
      background: url(/wp-content/themes/DealerInspireDealerTheme/images/left-arrow.png) no-repeat center transparent;
      background-size: contain;
      z-index: 500;
    }
    .owl-next {
      position: absolute;
      right: -20px;
      top: 38%;
      width: 50px;
      height: 50px;
      background: url(/wp-content/themes/DealerInspireDealerTheme/images/right-arrow.png) no-repeat center transparent;
      background-size: contain;
      z-index: 500;
    }
  }
}
*/
.vdp-print-view .logo {
  background-color: #fff;
  text-align: center;
}

#results-page .unlock-offer {
  background: #d01e1c;
  text-align: center;
  padding: 10px;
  clear: both;
  a {
    color: #fff !important;
    text-decoration: none;
  }
}
#vehicleDetails .unlock-offer {
  display: block;
  width: 100% !important;
  background: #d01e1c;
}

#results-page .button-bar-item.inquire-cta a {
  display: block !important;
}
#vehicleDetails .inquire {
  display: block;
  a {
    color: #fff !important;
  }
  .shopping-icon {
    display: none;
  }
}
