// *************************************************************************************************
//	Support request & third-party related styles
// *************************************************************************************************

#header .header-top #main-navbar.navbar {
  margin-right: 0;
}

.header-btn {
  font-size: 11.5px;
  line-height: 2;

  width: 140px !important;
  height: 40px;
  margin-top: 5px;
  margin-left: 20%;
  padding-top: 8px;

  color: white;
  background: darkorange;

  &:hover {
    background-color: #ba6d00;
  }

  @media (max-width: 1177px) {
    font-size: 9px;
    line-height: 2;

    width: 100px !important;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px;

    color: white;
    background: darkorange;
  }

  @media (max-width: 1280px) {
    margin-left: -10% !important;
  }
}
#header-ask-a-question {
  .header-btn {
    font-size: 11.5px;
    line-height: 2;

    position: fixed;
    top: 50%;
    right: -60px;

    float: right;

    width: 140px !important;
    height: 40px;
    padding-top: 8px;

    transform: rotate(270deg);

    color: white;
    background: darkorange;
    @media screen and (max-width: 1330px) {
      font-size: 10px;

      width: 150px !important;
      margin-left: 20%;
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  #header .header-top .logo img {
    max-height: 66px;
  }
}

#c-class-countdown {
  position: fixed;
  z-index: 1050;
  bottom: 20px;
  left: 30px;

  width: 200px;
  padding: 20px 14px 14px;

  -webkit-transition: all 220ms ease-out;
  transition: all 220ms ease-out;
  transform: translateX(0);

  color: #fff;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
  .c-class-count {
    font-size: 18px;

    display: block;

    height: 100%;
    margin-top: 5px;
    margin-bottom: 10px;

    text-align: center;
    vertical-align: middle;
    span {
      font-weight: 700;

      display: inline;

      color: $primary;
      text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
    }
  }
  .c-class-countdown-close {
    font-size: 18px;
    font-weight: normal;
    line-height: 1;

    position: absolute;
    top: 5px;
    right: 5px;

    display: block;

    width: 18px;
    height: 18px;

    content: '\f00d';
    text-decoration: none;

    color: #fff;
  }
  &.close {
    opacity: 0;
  }
}
.c-class-countdown-sm {
  font-size: 16px;

  position: fixed;
  z-index: 1050;
  right: auto !important;
  bottom: 15%;
  left: -50px !important;

  display: block;

  width: auto;
  height: 40px;
  margin-left: 0;
  padding: 10px;

  -webkit-transition: margin-left 100ms ease-out;
  transition: margin-left 100ms ease-out;
  transform: rotate(90deg);
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;

  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.85);
  span {
    font-weight: 700;

    color: $primary;
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
  &.inactive {
    margin-left: -40px;
    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 767px) {
    bottom: 25%;
  }
}

.holiday-hours-btn {
  font-size: 12px;
}
a.fancy.button-form.button.cta-button {
  width: 100% !important;
}

//Related Posts Styles
.crp_related {
  clear: both;

  padding-top: 20px;
}

.crp_related ul {
  //text-align: center;
}

.crp_related li {
  display: inline-block;

  width: 100%;
  max-width: 200px;

  list-style: none;

  vertical-align: top;
}

.crp_related h3 {
  font-size: 20px;

  position: relative;

  margin-bottom: 30px;

  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #ddd;
}

.crp_related h3 span {
  position: relative;

  display: inline-block;
}

.crp_related h3 span:before,
.crp_related h3 span:after {
  position: absolute;
  top: 50%;

  display: block;

  width: 100%;
  height: 1px;

  content: '';

  background: #ddd;
}

.crp_related h3 span:before {
  right: 100%;

  margin-right: 15px;
}

.crp_related h3 span:after {
  left: 100%;

  margin-left: 15px;
}

.crp_related li a {
  color: #333;
}
.crp_related li a:hover {
  color: #0059a8;
}

.crp_related li img,
.crp_related .crp_title {
  display: block;
}

.crp_related li img {
  margin: 0 auto;
}

.crp_related .crp_title {
  font-size: 14px;
  font-weight: normal;

  width: 100%;
  max-width: 190px;
  margin: 5px auto 0 auto;

  text-align: center;
}

//video banner fix
#videobanner {
  @media screen and (max-width: 1024px) {
    height: 100vh;
  }
}

//52250 - Overriding bold styles in Prem Options on VDP
#vehicleDetails {
  .premium-options-list {
    h3 {
      font-weight: 300 !important;
    }
    p {
      font-weight: 500 !important;
    }
  }
}
#footer .footer-right {
  right: 0;
  top: 25px;
}

.modal-backdrop {
  z-index: 999 !important;
}
.modal .modal-content {
  text-align: left !important;
}

//52570 - Custom classes for vehicle count over Overview pages

#di-page-composer {
  #vehicle-count-overview-number {
    font-size: 29px;
    color: white;
    margin-bottom: 25px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-shadow:
      0px 0px 10px rgba(0, 0, 0, 0.8),
      0px 0px 10px rgba(0, 0, 0, 0.6),
      0px 0px 10px rgba(0, 0, 0, 0.6),
      0px 0px 10px rgba(0, 0, 0, 0.8);
    -moz-text-shadow:
      0px 0px 10px rgba(0, 0, 0, 0.8),
      0px 0px 10px rgba(0, 0, 0, 0.6),
      0px 0px 10px rgba(0, 0, 0, 0.6),
      0px 0px 10px rgba(0, 0, 0, 0.8);
    -webkit-text-shadow:
      0px 0px 10px rgba(0, 0, 0, 0.8),
      0px 0px 10px rgba(0, 0, 0, 0.6),
      0px 0px 10px rgba(0, 0, 0, 0.6),
      0px 0px 10px rgba(0, 0, 0, 0.8);
    #count-number {
      font-size: 50px;
      font-weight: 700;
      font-style: italic;
    }
  }
}
.mobile-tabs.mobile-tabs-count-4 {
  height: 0px;
  .mobile-tab-1,
  .mobile-tab-2,
  .mobile-tab-3,
  .mobile-tab-4 {
    display: none;
  }
}
#footer {
  .social.visible-xs {
    position: fixed;
    bottom: 0;
    width: 101%;
    height: 40px;
    background: #222;
    z-index: 1000;
    left: 0px;
    a {
      width: 22%;
      i {
        font-size: 18px !important;
        line-height: 25px;
      }
    }
  }
  .footer-right .social {
    margin: 0px 5px 0 0;
  }
}

#footer .footer-left img {
  width: 220px;
  display: inline !important;
}
.email-button {
  float: left;
  padding: 10px;
}
.social.visible-xs a:nth-child(3) {
  display: none;
}

img#footer-tristar {
  margin: 20px 0;
  float: left;
}
@media (min-width: 768px) {
  img#footer-tristar {
    display: none;
  }
  img#footer-amg {
    width: 105px !important;
    margin-left: 10%;
  }
  img#footer-star {
    width: 60px !important;
  }
}

//Make pre-order ctas pink
.make-pre-order-pink .vehicle-price a.fancy.button-form.button.cta-button {
  background-color: rgba(250, 104, 170, 1) !important;
}

.make-pre-order-pink .maincta-row.ctabox-row a {
  background-color: rgba(250, 104, 170, 1) !important;
}

.testing {
  display: none !important;
}

.hide-form-85 {
  display: none !important;
}

//Pink Ribbon - Removed from DITM
@media screen and (min-width: 1024px) {
  #header .header-top .logo img {
    max-height: 60px;
  }
  #header .header-top #main-navbar.navbar {
    padding: 0px;
  }
  .pink-ribbon-oct {
    width: 25px !important;
    display: inline !important;
  }
  .navbar.col-md-6 {
    width: 45% !important;
  }
}

// #00059456 - Blog Header styles
.post {
  a.entry-title {
    color: black !important;
    font-size: 25px !important;
    font-weight: 500 !important;
  }

  @media (max-width: 767px) {
    h1.entry-title {
      font-size: 25px;
      line-height: 30px;
      font-weight: 500;
    }
  }
}
// #00059456 - Blog Header styles - END

//Hacking my way through a crappy CSS fix for iOS, piece of trash...
@media (max-width: 767px) {
  .flip-clock-wrapper ul li a div div.inn {
    font-size: 35px;
    text-size-adjust: none !important;
  }
}

//62845
.page-vehicle-results-page {
  a.button.inquire {
    width: 100% !important;
  }
  .hide-the-main-cta a.fancy.button-form.button.cta-button {
    display: none;
  }
}
.page-vehicle-display-page {
  .hide-the-main-cta .maincta-row.ctabox-row {
    display: none;
  }
  div#inquire-button a {
    width: 100% !important;
    margin-top: -10px;
    display: none;
  }
}
//end 62845

//#00066711 START
.comments .post-comments li {
  list-style: none !important;
}
//#00066711 END

// #00068477 - New Menu Model Carousel

/*
#menu_modelRow {
    display: none;
    position: relative;
    background-color: #eeeeee;

    &.open {
        display: block;
        -webkit-transition: ease all .5s;
        -moz-transition: ease all .5s;
        -o-transition: ease all .5s;
        transition: ease all .5s;
    }

    .model_nav {
        background-color: #0059a8;
        height: 35px;

        ul.nav-tabs {
            height: 35px;
            border-bottom: 0;
            line-height: 35px;

            li {
                button {
                    font-weight: 600;
                    font-size: 12px;
                    color: #5a87b7;
                    height: 35px;
                    line-height: 35px;
                    border: none;
                    background: transparent;
                    text-transform: uppercase;
                    outline: 0 !important;
                    padding: 0 15px;

                    &:hover {
                        color: #fff;
                        border: none;
                    }
                }

                &.active button {
                    color: #fff;
                    background: transparent;
                    border: none;
                }
            }
        }
    }

    #sedanModels,
    #coupeModels,
    #suvModels,
    #convertModels,
    #hybridModels {
        width: 100%;
        padding: 15px 30px 0;
        position: relative;
        z-index: 10;

        .label-wrap {
            margin-top: 5px !important;
        }

        .model-name {
            text-align: center;
            font-weight: 600;
            @media (min-width: 1400px) {
                padding-top: 10px;
            }
        }
    }

    .owl-controls {
        .owl-prev {
            position: absolute;
            left: -20px;
            top: 38%;
            text-indent: -9999px;
            width: 50px;
            height: 54px;
            background: url(/wp-content/themes/DealerInspireDealerTheme/images/left-arrow.png) no-repeat center transparent;
            background-size: contain;
            z-index: 500;
        }
        .owl-next {
            position: absolute;
            right: -20px;
            top: 38%;
            text-indent: -9999px;
            width: 50px;
            height: 50px;
            background: url(/wp-content/themes/DealerInspireDealerTheme/images/right-arrow.png) no-repeat center transparent;
            background-size: contain;
            z-index: 500;
        }
    }
}

*/

#header {
  .header-top .navbar .navbar-inner ul#menu-top-menu > li.menu-item.active.new > .header-dropdown {
    opacity: 1;
    -webkit-transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    transition: ease all 0.5s;
    height: 100% !important;
    overflow: visible;
    top: 110px !important;
  }
  // Locked pricing on this site, hide prices in Algolia
  .menu-top .header-top .search-anything-toggle .tt-dropdown-menu .algolia-dataset .inventorySearchResult .invPrice {
    display: none;
  }
}

// #00068477 - END
.unlock-pricing-cta {
  background: red !important;
}
// Radioactive Button Styling
.button-radioactive {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  background: red;
  border-radius: 5px;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset !important;

  -webkit-animation-name: redPulse;
  animation-name: redPulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  &:hover {
    background: lighten($primary, 8%);
  }
}

@-webkit-keyframes redPulse {
  from {
    background-color: red;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  50% {
    background-color: lighten(red, 8%);
    -webkit-box-shadow: 0 0 20px lighten(red, 8%);
  }
  to {
    background-color: red;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}

.fj-drive.vdp {
  display: none !important;
}

//Add heart icon to header
.menu-saved-favs {
  height: 50px;
  width: 40px;
  border-left: 1px solid #e9ecec;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  a {
    line-height: 50px;
    color: #e35da2 !important;
  }
}

#footer .footer-middle .social {
  display: none !important;
}
//End custom header stuff

@media (min-width: 1400px) {
  #menu_modelRow #hybridModels .model-name {
    padding-top: 15px !important;
  }

  #menu_modelRow #suvModels .model-name {
    padding-top: 15px !important;
  }
}

//Custom VRP filter button
#vrp-custom-filter {
  position: fixed;
  top: 82px;
  width: 100% !important;
  z-index: 99;
  @media (min-width: 767px) {
    display: none;
  }
}
.vdp-print-view .logo {
  background-color: #fff;
  text-align: center;
}

//Make dem arrows bouncy
.difo-wrapper .owlcard-wrap-inner .owl-buttons .owl-prev {
  background: url(/wp-content/plugins/vessel/content/shared/images/arrows/arrow-blue-left.png) no-repeat center center !important;
  left: -50px !important;
  animation: shake 3s infinite;
  @media (max-width: 767px) {
    left: -28px !important;
  }
}

.difo-wrapper .owlcard-wrap-inner .owl-buttons .owl-next {
  right: -50px !important;
  @media (max-width: 767px) {
    right: -20px !important;
  }
}

.difo-wrapper .owlcard-wrap-inner .owl-buttons .owl-prev,
.difo-wrapper .owlcard-wrap-inner .owl-buttons .owl-next {
  width: 65px !important;
}

.difo-wrapper .owlcard-wrap-inner .owl-buttons .owl-next {
  background: url(/wp-content/plugins/vessel/content/shared/images/arrows/arrow-blue-right.png) no-repeat center center !important;
  animation: shake 3s infinite;
}

.content {
  background-color: white;
}
.koral {
  color: red;
}
//comment
.vdp-print-view .logo {
  background-color: #fff;
  text-align: center;
}
@media (max-width: 767px) {
  #whitewrap {
    #footer {
      margin-bottom: 0;
    }
  }
}

//Make VDP gallery unreasonably large
.page-vehicle-display-page {
  .fancybox-desktop {
    width: 100% !important;
    left: calc((100% - 800px) / 2) !important;
    max-width: 800px;
    @media screen and (max-width: 1200px) {
      left: 2.5% !important;
      width: 95% !important;
    }
    .fancybox-inner {
      width: 100% !important;
      overflow-y: scroll;
      > div {
        max-width: 100% !important;
      }
    }
  }
}

.di-version {
  @media (max-width: 767px) {
    display: none !important;
  }
}

@media (max-width: 767px) {
  #footer-tristar {
    display: inline-block;
  }

  @for $i from 92 through 94 {
    #menu-item-#{$i} {
      display: none !important;
    }
  }

  #menu-item-25951 {
    display: none !important;
  }

  .footer-middle {
    > img {
      display: inline;
    }
    > span {
      display: inline;
    }

    > p {
      display: inline;
    }

    > ul {
      display: inline;
    }
  }
  .right-half {
    text-align: left;
  }

  #footer .footer-middle ul li a {
    margin: 0;
  }
}
#results-page .vehicle .vehicle-price #lease-for-less-cta {
  background: orange;
}
//

.lease-for-less {
  background: orange !important;
}

#chinese-button {
  position: absolute;
  top: 115px;
  right: 25px;
  width: 150px;
  @media screen and (max-width: 1024px) {
    width: 125px;
    top: 30px;
    right: 15px;
  }
  @media screen and (max-width: 767px) {
    width: 85px;
    right: 10px;
  }
}

#header .navbar.flex .navbar-inner .nav_section {
  justify-content: space-around;
}

//IE 11 flexbox bug fix
#header .header-top .navbar .navbar-inner ul#menu-top-menu > li.menu-item {
  flex-shrink: 0;
}

#header .navbar.flex .navbar-inner .nav_section > ul.nav {
  @include flex(0 1);
  @include flex-grow(1);
}

#header.menu-top .header-top .logo img {
  max-height: 65px !important;
}

@media screen and (max-width: 1024px) {
  .menu-top .mobile-header-top .logo {
    padding: 0;
    img {
      max-height: 40px;
    }
  }
  .menu-top .mobile-header-top > * {
    align-items: center;
  }
}

#lvrp-vehicle-finder-image {
  &:hover {
    cursor: pointer;
  }
}
