// *************************************************************************************************
//	VEHICLE DETAILS PAGE
// *************************************************************************************************
@import 'variables';
@import '../../../shared/styles/common/fletcherjones-v2/_fj-vdp-variables';
@import '../../../../../../themes/DealerInspireCommonTheme/css/mixins';
@import '../../../../../../themes/DealerInspireCommonTheme/css/buttons-basic';

//NEW VDP STYLING: DO NOT REMOVE
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/vehicle-detail-page/hotwheels/vehicle-details';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/vehicle-detail-page/vehicle-print-view';
.page-vehicle-display-page {
  @import '../../../../../../themes/DealerInspireCommonTheme/css/components/vehicle-detail-page/hotwheels/vehicle-gallery-condensed';
}
@import '../../../shared/styles/common/fletcherjones-v2/_fj-vdp';

#details-page-ctabox {
  .fj-drive.vdp {
    display: none;
  }
}

// 00753537
@media screen and (min-width: 1025px) {
  #vehicleDetails.project-hotwheels .vdp-top-banner.box-gallery div.box-gallery-wrap {
    padding-bottom: 0;
    div.details-page-gallerywrap .details-page-row:nth-child(2) {
      padding: 0;
    }
  }

  .vdp-basic-info div.basic-info-wrapper {
    background: none transparent;
    border: none;
    border-radius: 0;
    background-clip: padding-box;
    width: 100%;
    padding: 0;
    float: left;
  }
}
// End 00753537
