// *************************************************************************************************
//	Support request & third-party related styles
// *************************************************************************************************

#northcalifornia-overlay .overlay-container {
  margin: 2% auto !important;
}

#southcalifornia-overlay .overlay-container {
  margin: 2% auto !important;
}

.toolbar-overlays .overlay-container {
  margin: 2% auto !important;
}

.add-space {
  margin-top: 10px;
  margin-bottom: 20px;
}

#nv {
  .add-space {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
}

#audi-fj-icon {
  height: 120px;
}

.fixed-height {
  min-height: 240px;
  a {
    left: 25px;
    position: absolute;
    bottom: 0;
  }
}

.coming-soon {
  font-weight: bold;
  margin-top: 20px;
  display: block;
}

.coming-soon-popout {
  position: absolute;
  right: 42px;
  top: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.vdp-print-view .logo {
    background-color: #fff;
    text-align: center;
}

#mb, #sprinter, #audi {
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(space-around);
  text-align: center;
  .single-dealer {
    img {
      max-width: 100px;
      width: auto;
      height: auto;
    }
    strong {
      display: block;
    }
    width: calc(100%/3);
  }
}

#honda {
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(space-around);
  min-width: 400px;
  min-height: 350px;
  text-align: center;
  .single-dealer {
    img {
      max-width: 100px;
      width: auto;
      height: auto;
    }
    strong {
      display: block;
    }
    width: calc(100%/2);
  }
}

#smart {
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(space-around);
  text-align: center;
  min-width: 400px;
  min-height: 350px;
  .single-dealer {
    img {
      max-width: 100px;
      width: auto;
      height: auto;
    }
    strong {
      display: block;
    }
    width: 100%;
  }
}

#videobanner #videooverlay {
	.location-box-wrapper {
		@include flexbox;
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(space-between);
		#location-box {
		  @include flexbox;
		  @include flex-wrap(wrap);
		  @include align-items(center);
		  @include justify-content(space-between);
		  width: 100%;
		}
		.row {
			width: 100%;
		}
		h2 {
			margin: 20px;
		}
	  }
}



#po {
  @include flexbox;
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(space-around);
  text-align: center;
  min-width: 400px;
  min-height: 400px;
  .single-dealer {
    img {
      max-width: 100px;
      width: auto;
      height: auto;
    }
    strong {
      display: block;
    }
    width: calc(100%/3);
  }
}

#videobanner #videorow.modfull {
  min-height: 0;
}

@media (min-width: 767px) and (max-width: 1024px){
  #main-logo {
    max-width: 70%;
  }
}

// TOOLBAR OVERLAY

.toolbar-overlays {
	background: none;
	height:auto;
	min-height: 0px;
	opacity: 0;
	position:initial;
	top: auto;
	transition: opacity 0.5s, visibility 0s 0.5s;
	visibility: hidden;
	width: 100%;
	&.open {
		opacity: 1;
		visibility: visible;
		transition: opacity 0.5s;
	}
	.find-button {
		cursor: pointer;
		margin-top: 25px;
		font-size: 28px;
		color: #333;
	    text-align: center;
		text-transform: uppercase;
		@include transition(color .3s ease);
		&:hover {
			color: $primary;
			text-decoration: none;
		}
	}
	.overlay-container {
		left: auto;
		margin-left: auto;
		position: initial;
		top: auto;
		width: 85%;
		margin: 3% auto;
		padding-bottom: 0px;
		.overlay-content {
			background: none;
			float: none;
			padding: initial;
			color: #111;
			span.arrow-animation {
				position: absolute;
			    top: 45%;
				right: 15%;
				width: 24px;
				height: 24px;
				margin-left: -12px;
				border-left: 1px solid #222;
				border-bottom: 1px solid #222;
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
				-webkit-animation: sdb07 2s infinite;
				animation: sdb07 2s infinite;
				opacity: 0;
				box-sizing: border-box;
				&:nth-of-type(1) {
					-webkit-animation-delay: 0s;
					animation-delay: 0s;
				}
				&:nth-of-type(2) {
					top: 50%;
					-webkit-animation-delay: .15s;
					animation-delay: .15s;
				}
				&:nth-of-type(3) {
					top: 55%;
					-webkit-animation-delay: .3s;
					animation-delay: .3s;
				}
			}
		}
		span.close-overlay, span.back-button {
			background: black;
			border-radius: 15px;
			color: #fff;
			cursor: pointer;
			font-size: 16px;
			line-height: 30px;
			position: absolute;
			right: 60px;
			text-align: center;
			top: 120px;
			width: 30px;
		}
		span.back-button {
			right: 200px;
		}
	}
	h2 {
		color: $primary;
		margin-top: 0;
		margin-bottom: 30px;
	}
	@media (max-width:1024px) {
		.overlay-container {
			width: 60%;
			margin: 6% auto;
			span.close-overlay {
				right: 110px;
			}
		}
	}
}

#location-tab, #body-tab, #type-tab, #brand-tab, #payment-tab, .back-button, .close-overlay {
	display:none;
}

#hawaiilocations-overlay, #nevadalocations-overlay, #californialocations-overlay,
#southcalifornia-overlay, #northcalifornia-overlay, #illinoislocations-overlay, #MBLocations-overlay, #porscheLocations-overlay, #audiLocations-overlay, #sprinterLocations-overlay {
	#location-box {
		background: #fff;
		margin-bottom: 10px;
		padding: 20px 15px;
		-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.25);
		-moz-box-shadow:2px 2px 3px 0px rgba(0,0,0,0.25);
		box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.25);
		.location-name {
			h3, .address {
				text-align: left;
			}
			h3 {
				margin-top: 0px;
				margin-bottom: 0px;
				font-weight: 700;
				color: black;
				font-size: 15px;
				text-transform: uppercase;
			}
			.address {
				color: #888888;
			}
		}
		.button.primary-button {
			font-size: 12px;
			letter-spacing: .05em;
			margin: 0;
			padding: 8px 40px;
			text-transform: none;
			background: black;
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			@include transition(color .3s ease);
			border-bottom: 3px solid #515151;
			&:before {
				content: "";
			    position: absolute;
			    z-index: -1;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    background: lighten(gray, 10%);
			    -webkit-transform: scaleY(0);
			    transform: scaleY(0);
			    -webkit-transform-origin: 50% 100%;
			    transform-origin: 50% 100%;
			    @include transition(transform .3s ease-out);
			}
			&:hover {
				&:before {
					-webkit-transform: scaleY(1);
					transform: scaleY(1);
				}
			}
		}
	}
	@media (max-width:1299px) {
		#location-box {
			.location-name {
				h3 {
					font-size: 14px;
				}
				.address {
					font-size: 11px;
				}
			}
			.button.primary-button {
				padding: 8px 20px;
			}
		}
	}
	@media (max-width:1024px) {
		#location-box {
			margin: 0px;
			margin-bottom: 10px;
			.location-name {
				h3 {
					font-size: 13px;
				}
			}
		}
	}
}

#californialocations-overlay {
	.overlay-container {
		width: 40%;
		margin: 6% auto;
		span.close-overlay {
			right: 320px;
		}
		@media (max-width:1199px) {
			width: 60%;
			span.close-overlay {
				right: 210px;
			}
		}
		@media (max-width:1024px) {
			margin: 12% auto;
			span.close-overlay {
				right: 100px;
			}
		}
	}
}

#southcalifornia-overlay,#northcalifornia-overlay {
	.overlay-container {
		span.close-overlay {
			right: 40px;
		}
		span.back-button {
			right: 73px;
		}
		@media (max-width:1024px) {
			span.close-overlay {
				right: 80px;
			}
			span.back-button {
				right: 120px;
			}
		}
	}
}

#northcalifornia-overlay {
	.overlay-container {
		margin: 10% auto;
		@media (max-width:1024px) {
			margin: 6% auto;
		}
	}
}

#nevadalocations-overlay {
	.overlay-container {
		margin: 6% auto;
	}
}

#illinoislocations-overlay, #northcalifornia-overlay {
	@media (max-width:1199px) {
		.overlay-container .overlay-content {
			#location-box .location-name {
				h3 {
					font-size: 13px;
				}
			}
		}
	}
}

@media (max-width: 767px){
	#ctaRow-mobile a.ctabox:last-of-type {
		width: 100%;
		height: 150px;
		img {
			width: 100%;
		}
	}
}

#vessel-header-img {
  max-width: 341px;
  padding-right: 85px;
  @media only screen and (max-width: 1300px) {
	  max-width: 200px;
	  padding-right: 95px;
  }
}