// *************************************************************************************************
//	VARIABLES
// *************************************************************************************************

$primary: #0059a8; // site main color
$primaryhover: darken($primary, 10%);

$secondary: #222; // site accent color
$secondaryhover: darken($secondary, 10%);

$cta: #ed8b00;
$ctahover: darken($cta, 10%);
$cta-font: 14px/30px;

// *************************************************************************************************
//	TEXT STYLING
// *************************************************************************************************

$maintextcolor: #333;
$maintextfont: 'Lato', sans-serif;

$mainlinkcolor: $primary;

$heading-font: 'Lato', sans-serif;

$h1-font-size: 30px;
$h1-font-weight: 300;
$h1-font-family: $heading-font;

$h2-font-size: 24px;
$h2-font-weight: 300;
$h2-font-family: $heading-font;

$h3-font-size: 18px;
$h3-font-weight: 500;
$h3-font-family: $heading-font;

$h4-font-size: 16px;
$h4-font-weight: 500;
$h4-font-family: $heading-font;

// *************************************************************************************************
//	BUTTON STYLING
// *************************************************************************************************

// BASE BUTTONS

// $button-bg: #ccc;
// $button-bghover: darken(#ccc,10%);
// $button-border: none;
// $button-color: #333;
// $button-colorhover: #fff;
// $button-fontfamily: $heading-font;
// $button-fontweight: 400;
// $button-fontsize: 14px;
// $button-lineheight: 30px;
$button-radius: 0px;
// $button-shadow: none;
// $button-padding: 0 20px;
// $button-textshadow: none;
// $button-transform: uppercase;
// $button-margins: 0 10px 10px 0;

// BUTTON TEXT COLORS

$cta-color: #fff;
$primary-color: #fff;
$secondary-color: #fff;

// PRIMARY BUTTONS

// $primarybutton-bg: $primary;
// $primarybutton-color: $primary-color;
// $primarybutton-border: none;
// $primarybutton-hover-bg: darken($primary, 10%);
// $primarybutton-hover-color: $primary-color;
// $primarybutton-hover-border: none;

// SECONDARY BUTTONS

// $secondarybutton-bg: $secondary;
// $secondarybutton-color: $secondary-color;
// $secondarybutton-border: none;
// $secondarybutton-hover-bg: darken($secondary, 10%);
// $secondarybutton-hover-color: $secondary-color;
// $secondarybutton-hover-border: none;

// CTA BUTTONS

// $ctabutton-bg: $cta;
// $ctabutton-color: $cta-color;
// $ctabutton-border: none;
// $ctabutton-hover-bg: darken($cta, 10%);
// $ctabutton-hover-color: $cta-color;
// $ctabutton-hover-border: none;

// OUTLINE BUTTONS

$outlinebutton-border: 2px solid #fff;
// $outlinebutton-color: #ffffff;
// $outlinebutton-hoverbg: $primary;
// $outlinebutton-hoverborder: 2px solid $primary;
// $outlinebutton-hovercolor: #fff;

// MISC BUTTON SETTINGS

// $smallbutton-weight: normal;
// $smallbutton-size: 12px;
// $smallbutton-padding: 0px 10px;

// $largebutton-weight: normal;
// $largebutton-size: 24px;
// $largebutton-padding: 10px 30px;

// $darkbutton-bg: #555;
// $darkbutton-color: #fff;

// *************************************************************************************************
//	HEADER
// *************************************************************************************************

$tablet-header-background: #1c1c1c;
$mobile-header-background: #1c1c1c;

$hamburger-color: #fff;
$hamburger-background: transparent;

$phoneicon-color: #fff;
$phonenumber-color: #fff;

$directionsicon-color: #fff;
$directionstext-color: #fff;

// *************************************************************************************************
//	NAVIGATION
// *************************************************************************************************

$navbar-height: 80px;
$navbar-lineheight: 80px;
//$navbar-float: none;

//$navbar-menuitem-padding: 0 15px;
//$navbar-menuitem-textalign: left;
$navbar-menuitem-color: $maintextcolor;
//$navbar-menuitem-border-bottom: none;
$navbar-menuitem-hover-background: transparent;
//$navbar-menuitem-hover-color: $primary;
//$navbar-menuitem-font: 'Open Sans', sans-serif;
//$navbar-menuitem-fontsize: 14px;
//$navbar-menuitem-fontweight: normal;
$navbar-menuitem-texttransform: uppercase;

//$navbar-current-background:  $navbar-menuitem-hover-background;
//$navbar-current-color: $navbar-menuitem-hover-color;

//$navbar-submenu-background: #222;
//$navbar-submenu-border: none;

//$navbar-submenuitem-height: $navbar-height;
//$navbar-submenuitem-textalign: left;
//$navbar-submenuitem-border-bottom: $navbar-menuitem-border-bottom;
//$navbar-submenuitem-lineheight: $navbar-submenuitem-height;
//$navbar-submenuitem-color: $navbar-menuitem-color;
//$navbar-submenuitem-hover-background: #111;
//$navbar-submenuitem-hover-color: $navbar-menuitem-hover-color;

//$navbar-megamenu-width: 400px;
//$navbar-megamenu-leftposition: 0;
//$navbar-megamenu-column-width: 50%;
//$navbar-megamenu-column-padding: 0;
//$navbar-megamenu-column-font-size: 12px;
//$navbar-megamenu-subheading-background: #202020;
//$navbar-megamenu-subheading-borderbottom: none;
//$navbar-megamenu-subheading-fontweight: 600;
//$navbar-megamenu-subheading-fontsize: $navbar-menuitem-fontsize;
//$navbar-megamenu-subheading-color: $primary;

// OFF CANVAS MENU

$offcanvasflyout-bg: #111;
$offcanvas-menuitem-height: 50px;
$offcanvas-menuitem-lineheight: 20px;
$offcanvas-menuitem-padding: 15px;
$offcanvas-menuitem-textalign: left;
$offcanvas-menuitem-background: #1c1c1c;
$offcanvas-menuitem-color: #fff;
$offcanvas-menuitem-border-bottom: 1px solid #333;
$offcanvas-menuitem-hover-background: $primary;
$offcanvas-menuitem-hover-color: #fff;
$offcanvas-menuitem-font: 'Lato', sans-serif;
$offcanvas-menuitem-fontsize: 14px;
$offcanvas-menuitem-fontweight: normal;
$offcanvas-menuitem-texttransform: none;

$offcanvas-current-background: inherit;
$offcanvas-current-color: $offcanvas-menuitem-hover-color;

$offcanvas-submenu-background: #333;
$offcanvas-submenuitem-height: 50px;
$offcanvas-submenuitem-textalign: left;
$offcanvas-submenuitem-border-bottom: 1px solid #333;
$offcanvas-submenuitem-lineheight: 20px;
$offcanvas-submenuitem-color: $offcanvas-menuitem-color;
$offcanvas-submenuitem-hover-background: $primary;
$offcanvas-submenuitem-hover-color: $offcanvas-menuitem-hover-color;

// *************************************************************************************************
//	FOOTER
// *************************************************************************************************

$footer-background: #fff;
$footer-padding: 15px 0;
$footer-color: #333;
$footer-font-size: 12px;
$footer-font-family: 'Lato', sans-serif;

//$footer-left-margin: 10px 0 0 0;
//$footer-left-logo-width: 200px;

$footer-middle-text-align: center;
$footer-middle-text-transform: none;
$footer-copyright-margin: 0;
$footer-menu-color: #464645;
//$footer-menu-margin: 0 5px;
//$footer-menu-font-size: 12px;
$footer-menu-text-transform: none;

//$footer-right-margin: 10px 0 0 0;
//$footer-right-logo-width: 200px;

// PRE FOOTER ******************

//$prefooter-background: #fff;
//$prefooter-padding: 50px 0 70px;

//$prefooter-color: $maintextcolor;
//$prefooter-font: 'Open Sans', sans-serif;

//$prefooter-listtitle-color: $prefooter-color;
//$prefooter-listtitle-underline: 1px solid $prefooter-color;

//$prefooter-listitem-color: $prefooter-color;

// *************************************************************************************************
//	VEHICLE RESULTS PAGE
// *************************************************************************************************

// $vrpcta: $cta;																		// results page colors
// $vrpcta-border: 2px solid darken($vrpcta, 10%);
// $vrpctahover: $ctahover;
// $vrpcta-font: $cta-font;
// $vrpcta-color: $cta-color;

// BUTTON BAR

// $buttonbar-background: #fff;
// $buttonbar-border: none;
// $buttonbar-height: 50px;

// $buttonbar-button-textalign: left;
// $buttonbar-button-background: transparent;
// $buttonbar-button-border: none;
// $buttonbar-button-borderradius: 0;
// $buttonbar-button-color: $maintextcolor;
// $buttonbar-button-display: inline-block;
// $buttonbar-button-fontsize: 14px;
// $buttonbar-button-fontweight: 500;
// $buttonbar-button-padding: 10px 10px;
// $buttonbar-button-lineheight: 30px;

// $buttonbar-buttonicon-fontsize: 20px;

// $buttonbar-button-hover-background: transparent;
// $buttonbar-button-hover-border: none;
// $buttonbar-button-hover-color: $primary;

// $buttonbar-primarycta-float: right;
// $buttonbar-primarycta-margin: 10px;

// LIST VIEW

// $vehicle-listing-background: #f3f3f3;
// $vehicle-listing-border: none;
// $vehicle-listing-borderradius: 3px;
// $vehicle-listing-boxshadow: 0 1px 4px 0 rgba(0,0,0,0.37);
// $vehicle-listing-fontfamily: 'Open Sans', sans-serif;

// $vehicle-listing-special-banner-background: $primary;

// GRID VIEW

// $vehicle-grid-listing-4-columns: "(min-width: 1400px)";
// $vehicle-grid-listing-3-columns: "(min-width: 1025px) and (max-width: 1399px)";
// $vehicle-grid-listing-2-columns: "(min-width: 768px) and (max-width: 1024px)";
// $vehicle-grid-listing-1-columns: "(max-width: 767px)";

// $vehicle-grid-listing-background: $vehicle-listing-background;
// $vehicle-grid-listing-border: $vehicle-listing-border;
// $vehicle-grid-listing-borderradius: $vehicle-listing-borderradius;
// $vehicle-grid-listing-boxshadow: $vehicle-listing-boxshadow;
// $vehicle-grid-listing-fontfamily: $vehicle-listing-fontfamily;

// $vehicle-grid-spacing: 10px;

// $vehicle-grid-overlay-background: #fff;
// $vehicle-grid-overlay-opacity: 0.95;
// $vehicle-grid-overlay-fontsize: 18px;
// $vehicle-grid-overlay-color: #333;
// $vehicle-grid-overlay-hover-color: $primary;
// $vehicle-grid-overlay-toggle-background: #f7f7f7;
// $vehicle-grid-overlay-toggle-color: #333;
// $vehicle-grid-overlay-toggle-hover-background: $primary;
// $vehicle-grid-overlay-toggle-hover-color: #fff;

// *************************************************************************************************
//	VEHICLE DETAILS PAGE
// *************************************************************************************************

// $vdpcta: $cta;																		// details page colors
// $vdpcta-border: 2px solid darken($vdpcta, 10%);
// $vdpctahover: $ctahover;
// $vdpcta-font: $cta-font;
// $vdpcta-color: $cta-color;
// $vdpRealPriceColor: green;												// main price color
// $vdp-tabs: $primary;															// accent color for details tabs

// *************************************************************************************************
//	INSIDE PAGES
// *************************************************************************************************

// STAFF PAGE

$staffbutton-bg: #333;
$staffbutton-color: #fff;
$staffbox-bg: #f9f9f9;
$staffbox-border: 1px solid #ccc;

// *************************************************************************************************
//	PLUGINS
// *************************************************************************************************

// ALGOLIA SEARCH

$algolia-search-fontfamily: $maintextfont;
$algolia-search-fontsize: 14px;

$algolia-results-fontfamily: $maintextfont;
$algolia-results-fontsize: 14px;
$algolia-results-background: #fff;
$algolia-results-border: none;
$algolia-results-color: #333;
$algolia-results-padding: 10px 0px;
$algolia-results-label-color: #777;
$algolia-results-icon-color: #333;

$algolia-results-categorytitle-border: 1px solid #ccc;
$algolia-results-categorytitle-fontfamily: $maintextfont;
$algolia-results-categorytitle-fontsize: 16px;

// LEASE CALCULATOR

$lease_offer_calc_button_color: $cta;

// *************************************************************************************************
//	MISC
// *************************************************************************************************

$noDelay: 00ms;
$fastSpeedTime: 500ms;

$header-vertical-width: 200px;
