@media(min-width:767px) {
    #preferredownersRow {
        display:none;
    }

    .flip-clock-wrapper {
        width: auto !important;
    }
}

@media (max-width: 767px) {
    .clock.flip-clock-wrapper {
        zoom: 0.4 !important;
    }
}


#whitewrap > a.striped-icon {
    display:none;
}
#videobanner #videooverlay {
    top:40%;
}
#homepage-advanced-search form#searchform input.alg-searc-class {
    background: transparent;
    border-bottom: 1px solid #fff;
    color:#fff;
}
@media (max-width:1024px) {
    #videobanner #videooverlay {
        top:30%;
    }
    #videobanner #videooverlay .videooverlay-content .homepage-timer {
        transform: scale(.8);
    }

}

@media(min-width: 1025px) {
    .flip-clock-wrapper {
        width: 620px !important;
        margin: 20px auto !important;
    }
}

.flip-clock-label {
    color: #fff !important;
}

.flip-clock-wrapper ul li a div div.inn {
    font-size:35px;
    text-size-adjust: none !important;
}