// *************************************************************************************************
//	VEHICLE RESULTS PAGE
// *************************************************************************************************
@import "variables";

$fj-drive: true !default;
$vdp-lease-finance: false !default;

@import '../../../shared/styles/common/fletcherjones-v2/_fj-vdp-variables';
@import "../../../../../../themes/DealerInspireCommonTheme/css/mixins";
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/vehicle-results-page/result-listing-listview';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/vehicle-results-page/result-listing-gridview';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/vehicle-results-page/filters-topbar';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/vehicle-results-page/filters-sidebar';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/vehicle-results-page/filters-mobile';
@import '../../../../../../themes/DealerInspireCommonTheme/css/components/vehicle-results-page/resultspage-common-elements';


#results-page{
  .vehicle{
    &.locked_pricing_vehicle{
      .locked-reveal-text{
        display: none;
        .locked-pricing-price-unlocked &{
          display: block;
        }
      }
    }
  }
}