$primary: #0059a8;
$secondary: #313130;
$heading-font: 'corposregular', sans-serif;
$maintextcolor: #333;
$maintextfont: 'Montserrat', sans-serif;
@import "../../../../../../themes/DealerInspireCommonTheme/css/mixins";

#header {
	position: fixed;
	width: 100%;
	top: 0;
	background: #fff;
	@include z-index("header");
	&.menu-top {
		.header-bottom {
			position: relative;
			height: 70px;
			line-height: 70px;
			background: #fff;
			@include flexbox;
			@include flex(0 1 auto);
			@include justify-content(space-between);
			padding: 0 15px;
			> div, > span, > a {
				display: flex;
				align-items: center;
				justify-content: center;
				@include flexbox;
				@include align-items(center);
				@include justify-content(center);
			}
			.logo {
			    position: relative;
			    margin-right: auto;
				z-index: 1000;
				.vessel-main-logo{
					margin-right: 10px;
					img{
						max-height: 70px;
					}
				}
				img {
		          @media screen and (min-width: 1025px){
		            max-width: 150px;
		          }
		          @media screen and (min-width: 1400px){
		            max-width: 250px;
		          }
				}
				#vessel-header-img{
					max-height: 40px;
					padding-left: 10px;
				}
			}
			.navbar {
				z-index: 999;
				.navbar-inner ul.nav {
					text-align: center;
					li {
						float: none;
						display: inline-block;
					}
				}
			}
			a.hours-icon {
				cursor: pointer;
				margin: 0 5px;
				font-size: 22px;
				-webkit-transition: ease all .5s;
				-moz-transition: ease all .5s;
				-o-transition: ease all .5s;
				transition: ease all .5s;
				&:hover {
					color: $secondary;
					-ms-transform: scale(1.3,1.3);
					-webkit-transform: scale(1.3,1.3);
					transform: scale(1.3,1.3);
				}
			}
			a.holiday-hours-btn {
				@extend a.hours-icon;
				font-size: 16px;
				&:hover {
					-ms-transform: scale(1.1,1.1);
					-webkit-transform: scale(1.1,1.1);
					transform: scale(1.1,1.1);
				}
			}
			.search-anything-toggle {
				position: relative;
				height: 70px;
				flex-basis: 250px;
				z-index: 9999;
				display: flex;
				flex-direction: column;
				justify-content: center;
				//If using algolia
				form {
					border: 1px solid #e1e1e1;
					line-height: 40px;
					height: 40px;
					width: 100%;
				}
				.twitter-typeahead {
					width: 100%;
					padding: 0;
					vertical-align: top;
					height: 40px;
					input:focus {
						outline: none;
					}
				}
				#alg-search {
					margin: 0;
					width: 100%;
					height: 100%;
					font-size: 12px;
					padding: 0 10px;
					line-height: 30px;
					border: none;
					display: inherit;
					background: transparent url('../images/icon-search.png') no-repeat right center;
					color: #222;
					font-weight: 500;
					font-family: $heading-font;
					text-transform: uppercase;
					@include border-radius(0px);
					@include transition(all 0.5s ease);
					background-color: #e1e1e1;
				}
				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #222;
					font-weight: 400;
					font-family: $heading-font;
				}
				::-moz-placeholder { /* Firefox 19+ */
					color: #222;
					font-weight: 400;
					font-family: $heading-font;
				}
				:-ms-input-placeholder { /* IE 10+ */
					color: #222;
					font-weight: 400;
					font-family: $heading-font;
				}
				:-moz-placeholder { /* Firefox 18- */
					color: #222;
					font-weight: 400;
					font-family: $heading-font;
	 			}
				.tt-dropdown-menu {
					background: #fff;
					border: 1px solid #aaa;
					border-top: none;
					border-right: none;
					color: #333;
					font-family: $maintextfont;
					font-weight: 400;
					text-align: left;
					line-height: 20px;
					width: 550px;
					min-height: 100%;
					padding: 0 0 60px;
				    position: fixed !important;
				    z-index: 10001 !important;
				    top: 110px !important;
				    right: 0 !important;
				    left: auto !important;
					.algolia-dataset {
						width: 100%;
						padding: 0;
						.category.catTitle {
							background: #ddd;
							border: none;
							border-top: 1px solid #aaa;
							border-bottom: 1px solid #aaa;
							padding: 10px 15px;
							text-transform: uppercase;
							font-family: $maintextfont;
							font-weight: 400;
							margin: 0;
						}
						.tt-suggestions {
							padding: 15px;
							.tt-suggestion {
								padding: 0;
							}
						}
						.inventorySearchResult {
							padding: 10px 15px;
							&:hover {
								background: #eee;
							}
							.imgContainer {
								width: 20%;
							}
							.conetntSectionContainer {
								width: 80%;
								margin: 0;
								padding: 0 0 0 15px;
								color: #777;
							}
							.invTitle {
								font-size: 16px;
								color: #333;
							}
							.invColor {
								font-weight: 400;
								font-size: 14px;
								font-style: normal;
								em {
									font-style: normal;
								}
							}
							.invPrice {
								float: right;
								color: #333;
								font-weight: 600;
							}
							.invMiles {
								float: left;
								font-weight: 400;
							}
						}
						.contentSearchResult, .contentEmailResult, .contentNumberResult, .contentDeptResult {
							padding: 10px 15px 10px 45px;
							margin: 0;
							i {
								left: 15px;
								top: 10px;
							}
							&:hover {
								background: #eee;
							}
						}
						.pageResultLink {
							&:hover {
								background: transparent;
								.contentSearchResult, .contentEmailResult, .contentNumberResult, .contentDeptResult {
									background: #eee;
								}
							}
						}
						&.tt-dataset-defaults {
							.category.catTitle {
								margin-bottom: 15px;
							}
							.pageResultLink {
								padding: 0 15px;
							}
						}
					}
				}
				.search-anything-submit-btn {
					right: 0;
					background: #555;
					margin: 0;
					color: #fff;
					line-height: 60px;
					vertical-align: top;
					border: none;
					@include border-radius(0px);
					width: 0;
					padding: 0;
					display: none;
					text-transform: uppercase;
					position: absolute;
					@include transition(all 0.5s ease);
					&:hover {
						background: #777;
					}
				}
			}

		}
	}
	.header-top {
		position: relative;
		background: #eee;
		height: 40px;
    	line-height: 40px;
		color: #000;
		text-transform: uppercase;
		font-size: 11px;
    	letter-spacing: .03em;
    	width: 100%;
    	padding: 0 15px;
    	display: flex;
    	justify-content: flex-end;
        @media (max-width: 1300px) {
			font-size: 0.8vw;
    	}
		.dealer-phone {
			margin: 0 5px;
			.phone {
				margin: 0 2.5px;
			}
		}
		.dealer-hours {
			text-align: center;
			margin: 0 12px 0 0;
			.sales-hours, .service-hours, .hours-sales, .hours-service{
				&:hover{
					cursor: pointer;
				}
			}
			a {
				color: #fff;
				&:hover {
					text-decoration: none;
				}
			}
			.fa-clock-o{
				display: none;
			}
		}
		.dealer-hours-container{
			position: relative;
			margin: 0 20px 0 10px;
			.hours-dropdown{
				display: none;
			}
			&:hover{
				cursor: pointer;
			}
			&.open{
				.hours-dropdown{
					display: flex;
					background: #eee;
					position: absolute;
					z-index: 9999;
					top: 35px;
					right: 0;
				}
				&:after{
					content: "\f077";
				}
			}
			&:after{
				content: "\f078";
				font: normal normal normal 9px/1 FontAwesome;
			    position: absolute;
			    right: 0px;
			    top: 15px;
			}
			#saleshours, #servicehours{
				width: 215px;
    			padding: 0 5px;
				.widget-subtitle-icon{
					display: none;
				}
				.widget-subtitle{
					font-weight: bold;
				}
				ul.hours{
				    list-style: none;
					padding-inline-start: 0px;
					li{
						line-height: 24px;
					    width: 100%;
					    display: flex;
					    justify-content: space-between;
					}
					.disclaimer, br{
						display: none;
					}
					.day{
						margin-right: 10px;
						text-transform: capitalize;
					}
				}
			}
			.dynamic-hours{
				.open{
					display: none;
				}
			}
		}
		.dealer-address {
			text-align: right;
			margin-right: 20px;
			a {
				color: #000;
			}
		}
		.dealer-phone, .dealer-address{
			.fa{
				display: none;
			}
		}
	}
	@media (max-width:1199px) {
		.header-bottom {
			padding-right: 185px;
    		padding-left: 150px;
			.logo {
				img {
					max-width: 70%;
				}
			}
			.search-anything-toggle {
				width: 170px;
			}
		}
		.header-top {
			font-size: 10px;
			font-weight: 300;
		}
	}
	@media (min-width:1400px) {
		.header-bottom {
    		padding-left: 250px;
		}
	}
  .header-ad-image{
    padding: 10px;
    height: 70px;
    img{
      max-height: 40px;
      line-height: 40px;
    }
  }
}

#DIModal {
	.modal-content {
		border-radius: 0;
		border-bottom: 5px solid $primary;
		.department-hours {
			span {
				display: inline-block;
				&:first-of-type {
					width: 40%;
				}
				&:last-of-type {
					width: 60%;
				}
			}
		}
	}
}

.header__language-toggle{
	margin: 2px 0px;
	display: inline-block;
	height: 35px;
	line-height: 30px;
	span, a{
		font-size: 12px;
	}
}


//Fix for keeping hover on bottom info bar
#header .header-bottom .navbar .navbar-inner ul#menu-top-menu > li.menu-item{
    height: 70px;
    z-index: 1001;
    >a{
        height: 70px;
        z-index: 1001;
    }
    .header-dropdown{
        opacity: 0;
				height: 0 !important;
				overflow: hidden;
    }
    &.active > .header-dropdown{
        opacity: 1;
        -webkit-transition: ease all .5s;
        -moz-transition: ease all .5s;
        -o-transition: ease all .5s;
        transition: ease all .5s;
				height: 100% !important;
				overflow: visible;
    }
}


.rotating-logos {
	position: relative;
	width: 100px;
	a,div {
		display: block;
		&.menu-item-img {
			img {
				left: 10px;
				max-height:100%;
				max-width: 100%;
				margin: 0 10px;
				position:absolute;
				top: 15px;
				@include transition(opacity .7s ease);
				@media screen and (max-width: 1024px){
					top: 10px;
				}
			}
			#rotating {
				opacity:0;
				&.showing {
					opacity:1;
				}
			}
		}
	}
	.header-dropdown-container {
		@include flexbox;
		@include flex(1);
		@include justify-content(space-between);
		align-items: center;
		flex-wrap: wrap;
		a {
			text-align: center !important;
			display: inline-block !important;
			img {
				max-width: 300px !important;
			}
		}
	}
}
