#results-page {
  td.gridview {
    .spacer {
      display: none;
    }
    .hidden-grid-view {
      display: none !important;
    }
    .results-container {
      margin-left: -15px;
      margin-right: -15px;
    }
    .vehicle-wrap {
      padding: 15px;
      width: 25%;
      float: left;
      @media (max-width: 1560px) {
        width: 33.3333%;
      }
      @media (max-width: 1199px) {
        width: 50%;
      }
      @media (max-width: 1024px) {
        width: 33.3333%;
      }
      @media (max-width: 979px) {
        width: 50%;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    .vehicle {
      &.list-view {
        //
        display: none; //  Is this needed anymore?
      } //
      &.grid-view {
        display: inline-block !important;
        position: relative;
        width: 100%;
        float: left;
        background: none #fff;
        border: none;
        .vehicle-menu-overlay {
          position: absolute;
          height: 0%;
          width: 100%;
          background: rgb(238, 238, 238);
          background: rgba(255, 255, 255, 0.95);
          z-index: 10;
          overflow: hidden;
          @include transition(height 0.25s ease);
          .vehicle-menu {
            padding: 40px;
            a {
              display: block;
              font-size: 18px;
              line-height: 2em;
              color: $maintextcolor;
              text-decoration: none;
              cursor: pointer;
              i {
                margin-right: 15px;
              }
              &:hover {
                color: $primary;
              }
            }
          }
        }
        .vehicle-menu-toggle {
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 11;
          background: #f7f7f7;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          @include border-radius(15px);
          @include transition(all 0.25s ease);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.37);
          font-size: 14px;
          i.open-button {
            display: inline-block;
          }
          i.close-button {
            display: none;
          }
          &:hover {
            background: $primary;
            color: #fff;
            box-shadow:
              0 2px 2px 0 rgba(0, 0, 0, 0.2),
              0 6px 10px 0 rgba(0, 0, 0, 0.3);
          }
        }
        &.menu-open {
          .vehicle-menu-overlay {
            height: 100%;
          }
          .vehicle-menu-toggle {
            i.open-button {
              display: none;
            }
            i.close-button {
              display: inline-block;
            }
          }
        }
        .vehicle-image {
          padding: 0;
          width: 100%;
          max-width: 100%;
          margin: 0;
          float: none;
          img {
            width: 100%;
          }
          .sold-overlay {
            top: 0;
            left: 0;
            // width: 100% !important;
          }
        }
        .vehicle-quick-stats {
          background: #f3f3f3;
          padding: 10px;
          h2 {
            font-size: 16px;
            margin-top: 0;
            font-weight: normal;
            line-height: 20px;
            height: 32px;
          }
          // .price{
          // 	font-weight: bold;
          // 	&.finance {
          // 		font-weight: 100;
          // 	}
          // 	&.bottom-text {
          // 		font-size: 10px !important;
          // 		font-weight: normal;
          // 	}
          // }
        }
      }
    }
  }
}
